############################################
# pypo - configuration                     #
############################################

# Set the type of client you are using.
# Currently supported types:
# 1) "obp" = Open Broadcast Platform
# 2) "airtime"
#
api_client = "airtime"

############################################
# Cache Directories                        #
# *include* trailing slash !!              #
############################################
cache_dir = '/var/tmp/airtime/pypo/cache/'
file_dir = '/var/tmp/airtime/pypo/files/' 
tmp_dir = '/var/tmp/airtime/pypo/tmp/'

############################################
# Setup Directories                        #
# Do *not* include trailing slash !!         #
############################################
cache_base_dir = '/var/tmp/airtime/pypo'
bin_dir = '/usr/lib/airtime/pypo'
log_base_dir = '/var/log/airtime'
pypo_log_dir = '/var/log/airtime/pypo'
liquidsoap_log_dir = '/var/log/airtime/pypo-liquidsoap'

############################################
# Liquidsoap settings                      #
############################################
ls_host = '127.0.0.1'
ls_port = '1234'

############################################
# RabbitMQ settings                        #
############################################
rabbitmq_host = 'localhost'
rabbitmq_user = 'guest'
rabbitmq_password = 'guest'
rabbitmq_vhost = '/'

############################################
# pypo preferences                         #
############################################

# Poll interval in seconds.
#
# This will rarely need to be changed because any schedule changes are 
# automatically sent to pypo immediately. 
#
# This is how often the poll script downloads new schedules and files from the
# server in the event that no changes are made to the schedule.
#
poll_interval = 3600 # in seconds.


# Push interval in seconds.
#
# This is how often the push script checks whether it has something new to
# push to liquidsoap.
#
# It's hard to imagine a situation where this should be more than 1 second.
#
push_interval = 1 # in seconds

# 'pre' or 'otf'. 'pre' cues while playlist preparation
# while 'otf' (on the fly) cues while loading into ls  
# (needs the post_processor patch)
cue_style = 'pre'

############################################
# Recorded Audio settings                  #
############################################
record_bitrate = 256
record_samplerate = 44100
record_channels = 2
record_sample_size = 16

#can be either ogg|mp3, mp3 recording requires installation of the package "lame"
record_file_type = 'ogg'

# base path to store recordered shows at
base_recorded_files = '/var/tmp/airtime/show-recorder/'
