DirectoryIndex index.php
Options +FollowSymLinks -Indexes

<IfModule mod_mime.c>
    <IfModule mod_php4.c>
        AddType application/x-httpd-php .php

        php_flag magic_quotes_gpc On
        php_flag register_globals Off
    </IfModule>

</IfModule>
