.pl_container {
	width:800px;
	background:#5286BA;
}

.pl_header {
	height: 25px;
	color:#ffffff;	
	font-weight: bold;
	padding: 8px 20px 0 20px;
}

.pl_header_left {
	float:left;
}

.pl_header_left span {
	font-size: 18px;
}

.pl_header_right {
	float:right;
}

.pl_header_right span {
	font-size: 16px;
	padding-left: 20px;
}

.pl_contents {
	clear:left;
}

.pl_contents form{
	margin:0;
}

#pl_sortable {
	list-style-type: none;
	padding: 0;
  	margin: 0;
}

.pl_head {
	background-color: #8baed1;
	margin-top: 10px;
}

.pl_head span {
	display:inline-block;
	vertical-align: middle;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: bold;
}

.pl_main {

}

.pl_row {
    background-color: #d5e2ee;
    cursor:move;
}

.pl_row span {
	display:inline-block;
	vertical-align: middle;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.pl_input{
	width: 25px;
}

.pl_title{
	width: 160px;
	padding-right: 10px;
}

.pl_artist{
	width: 140px;
	padding-right: 10px;
}

.pl_length{
	width: 100px;
}

.pl_cue_in{
	width: 100px;
}

.pl_cue_out{
	width: 100px;
}

.pl_playlength{
	width: 100px;
}

.pl_fade_in{
	padding: 0.2em 2em;
	border-top: thin solid #999999;
	background-color: #cccccc;
}

.pl_fade_in span{
	display: inline-block;
	width: 60px;
	padding-right: 5px;
}

.pl_fade_out{
	padding-left: 2em;
	background-color: #cccccc;
	padding: 0.2em 2em;	
}

.pl_fade_out span{
	display: inline-block;
	width: 60px;
	padding-right: 5px;
}

.pl_time{
	cursor: pointer;
}

.pl_time input{

}

.pl_empty{
	text-align: center;
	font-weight:bold;
	font-size: 18px;
	color: #ffffff;
	margin: 1em 0;
}

.pl_footer {
	clear:left;
	font-size: 12px;
    padding: 4px 5px 5px 0;
    background-color: #8baed1;
    text-align: right;
    margin-bottom: 8px;
}

.pl_container_button {
	text-align: right;
	padding: 6px;
}

#spl_sortable {
	list-style-type: none;
	padding: 0;
  	margin: 0;
}

#spl_head {
	background-color: #8BAED1;
	font-weight: bold;
	color: #ffffff;
}

#spl_info {
	margin: 1em 0;
}

#spl_info div{
	padding-top: 5px;
}

#spl_info .sub{
	font-weight: bold;
	margin-right: 3px;
	margin-left: 15px;
}

.spl_title {
	width: 73px;
}

.spl_artist {
	width: 83px;
}

.spl_empty {
	height: 30px;
	text-align: center;
	padding-top: 10px;
}