[Unit]
Description=LibreTime Media Analyzer Service

[Service]
ExecStart=/usr/bin/airtime_analyzer
User=airtime-analyzer
Group=airtime-analyzer
Restart=always

[Install]
WantedBy=multi-user.target
