[Unit]
Description=LibreTime Celery Service
After=network.target

[Service]
User=celery
Group=celery
Environment=RMQ_CONFIG_FILE=/etc/airtime/airtime.conf
WorkingDirectory=/srv/airtime
ExecStart=/usr/local/bin/celery worker -A airtime-celery.tasks:celery --time-limit=1800 --concurrency=1 --config=celeryconfig -l INFO
Restart=always

[Install]
WantedBy=multi-user.target
