[Unit]
Description=LibreTime Media Analyzer Service

[Service]
ExecStart=/usr/bin/libretime_import
Restart=always

[Install]
WantedBy=multi-user.target
