*.*~
*.pyc
vendor/*
composer.phar
*~$
*\.log.*
**/*.egg-info/*
**/build/*
**/dist/*
*~
/airtime_mvc/tests/test_results.xml
/tests/results.html
/tests/*.jar
VERSION
airtime_mvc/tests/log/*.log
.vagrant/
.DS_Store
.idea/
/docs/_site/*
/docs/.jekyll-cache/*
/docs/.gems/*
Gemfile.lock
api.log
