*.*~
*.pyc
vendor/*
composer.phar
*~$
*\.log.*
**/*.egg-info/*
**/build/*
**/dist/*
*~
/airtime_mvc/tests/test_results.xml
/tests/results.html
/tests/*.jar
VERSION
airtime_mvc/tests/log/*.log
.vagrant/
.DS_Store
.idea/
/docs/_site/*
/docs/.jekyll-cache/*
/docs/.gems/*
Gemfile.lock
.DS_Store
node_modules
/dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore vue js and css files (part of the strangling the legacy ui)
airtime_mvc/public/css/analyticsplayouthistory.css
airtime_mvc/public/css/chunk-vendors.css
airtime_mvc/public/js/analyticsplayouthistory.js*
airtime_mvc/public/js/app.js*
airtime_mvc/public/js/chunk-vendors.js*
