[Unit]
Description=LibreTime Watch Folder Service

[Service]
ExecStart=/usr/local/bin/libretime-watch
Restart=always

[Install]
WantedBy=multi-user.target
