api_client = "airtime"

# Hostname
base_url = 'http://localhost/'

# base path to store recordered shows at
base_recorded_files = '/home/pypo/Music/'

# Value needed to access the API
api_key = 'AAA'

# Path to the base of the API
api_base = 'api/'

# URL to get the version number of the server API
version_url = 'version/api_key/%%api_key%%'

# URL to get the schedule of shows set to record
show_schedule_url = 'recorded-shows/format/json/api_key/%%api_key%%'

# URL to upload the recorded show's file to Airtime
upload_file_url = 'upload-recorded/format/json/api_key/%%api_key%%'
