#side_playlist {
	width: 500px;
}

#side_playlist div, #side_playlist span, #side_playlist ul, #side_playlist li {
	float: left;
}

#spl_sortable, #spl_sortable > li, .spl_artist, #side_playlist > div{
	clear: left;
}

#side_playlist input, #side_playlist textarea {
	width: 200px;
}

#side_playlist textarea {
	height: 100px;
}

