body {
    overflow: hidden;
}

#schedule_calendar {
	width:98%
}
div.ui-datepicker {
	font-size: 75%;
}

#schedule_playlist_dialog > div {
	float: left;
	width: 510px;
	padding: 5px;
}

#schedule_playlist_dialog ul {
	list-style-type: none;
	overflow: auto;
	margin: 0;
	padding: 10px 5px;
	height: 275px;
}

#schedule_playlist_chosen li {
	float: left;
	clear: left;
	margin: 0;
	width: 95%;
}

#schedule_playlist_chosen li > h3 {
	float: left;
	padding: 0;
	margin: 0;
	width: 475px;
}

#schedule_playlist_chosen li > h3 > div {
	float: left;
	margin: 0 5px 2px 0;
}

#schedule_playlist_chosen li > h3 > div > span.ui-icon {
	margin-top: 4px;
}

#schedule_playlist_chosen li div{
	float: left;
}

#schedule_playlist_chosen li > div{
	width: 475px;
}

#schedule_playlist_chosen li > div > div > span{
	float: left;
}

#schedule_playlist_chosen li > div > div{
	clear: left;
	padding-top: 5px;
	padding-left: 5px;
}

.sched_description {
	clear: left;
	font-size: 85%;
	margin-left: 2em;
}

.sh_pl_name {
	width: 150px;
}

.sh_pl_creator {
	width: 125px;
}

.sh_pl_time {
	width: 125px;
}

.sh_file_name {
	display: inline-block;
	width: 325px;
}

.sh_file_artist {
	font-size: 90%;
	padding-bottom: 5px;
}

#show_time_info > div, #show_time_info > span{
	float: left;
}

#show_progressbar {
	width: 150px;
	height: 5px;
	margin-top: 12px;
}

.time {
	width: 150px;
	margin: 5px;
	text-align: center;
}

/* Add show Dialog----------------------------------------------------------------------------------------------------
*
*
*
*/

#add_show_name {

}

#add_show_description {
	width: 400px;
	height: 200px;
}

#fullcalendar_show_display {
	width: 400px;
}

.fc-agenda-body {
	max-height:560px;
}	
