@charset "utf-8";
/* CSS Document */

body {
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
    background: #7f7f7f;
    margin: 0;
    padding: 0;
}
html, body {
height: 100%;
}

#login-page {
    background: #1f1f1f url(images/login_page_bg.png) no-repeat center 0;
    margin: 0;
    padding: 0;
	height:100%;
	text-align:center;
}

h2 {
    color: #000000;
    font-size: 2.1em;
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px;
}
h3 {
	font-size:1.7em;
	font-weight:normal;
	color:#000;
	padding:0 0 10px 0;
	margin:0;
}
a, a:focus {
	outline:none;
}
label {
	font-size:12px;
}
select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #9d9d9d;
}

.logo {
	position:absolute;
	right:20px;
	top:104px;
	background:transparent url(images/airtime_logo.png) no-repeat 0 0;
	height:35px;
	width:66px;
	z-index:1000;
	display:block;
}

/* Clearfix */
.clearfix:after, li:after { content: "."; display: block;	height: 0; clear: both;  visibility: hidden;}
.clearfix, li {	display: inline-block; }
* html .clearfix, * html li { height: 1%;}
.clearfix, li {	display: block;	}


/* Master Panel */
#sticky {
	position:fixed;
	height:130px;
	top:0;
	left:0;
}


#master-panel {
	background:#3d3d3d url(images/masterpanel_bg.png) repeat-x 0 0;
	height:100px;
	border:1px solid #000;
	border-width: 1px 0;
	overflow:hidden;
	position:relative;
}

.now-playing-block, .show-block, .on-air-block, .time-info-block, .personal-block, .listen-control-block  {
	height:100px;
	float:left;
	margin-right:10px;
}
.personal-block  {
	float:right;
	margin-right:20px;
	text-align:right;
	min-width:110px;
}

.personal-block  ul {
	margin:0;
	padding:8px 0 0;
}
.personal-block li {
	font-size:11px;
	color:#bdbdbd;
	list-style-type:none;
	margin:0 0 2px 0;
}
.personal-block li.name {
	color:#fff;
	font-weight:normal;
}
.personal-block li a {
	color:#fff;
	text-decoration:underline;
}
.personal-block li a:hover {
	color:#ff5d1a;
}
.now-playing-block {
	width:30%;
	padding-left:20px;
}
.show-block {
	width:18%;
}
.text-row {
	height:30px;
	padding:0px 0 0;
	font-size:12px;
	text-wrap:none;
	text-indent:2px;
	overflow:hidden;
	line-height:30px;
}
#master-panel .text-row {
	color:#dfdfdf;
}
.text-row.next-song {
	color:#d9d9d9;
}
.text-row strong {
	font-weight:bold;
	color:#969696;
	padding-right:12px;
}
.now-playing-info {
	height:25px;
	background:#3a3a3a url(images/playinfo_bg.png) repeat-x 0 0;
	border: 1px solid #242424;
	border-bottom-color:#727272;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color:#fff;
	font-size:15px;
	line-height:22px;
	text-indent:5px;	
	overflow:hidden;
	margin-bottom:3px;
}
.now-playing-info .time-flow {
	float:right;
	margin-right:6px;
}
.time-elapsed {
	color:#9b9b9b;
	padding-right:6px;
}
.time-remaining {
	color:#ff6f01;
}
.progressbar {
	height:6px;
	border:1px solid #242424;
	border-width:1px 1px 0 1px;
	background:#141414 url(images/progressbar_bg.png) repeat-x 0 0;
}
.progressbar .progress-song, .progressbar .progress-show {
	height:4px;
	width:0%;
	background:#f97202 url(images/progressbar_song.png) repeat-x 0 0;
}
.progressbar .progress-show {
	background:#02cef9 url(images/progressbar_show.png) repeat-x 0 0;
}
.now-playing-info .lenght {
	color:#c4c4c4;
	padding-left:6px; 
}

.on-air-block  {
	padding:0 12px 0 0;
	background:url(images/masterpanel_spacer.png) no-repeat right 0;
}
.time-info-block  {
	padding:0 14px 0 2px;
	background:url(images/masterpanel_spacer.png) no-repeat right 0;
}
.time-info-block ul {
	margin:0;
	padding:6px 0 0;
}
.time-info-block li {
	list-style-type:none;
	font-size:14px;
	color:#bdbdbd;
	margin:0 0 6px;
}
.time-info-block li.time {
	font-size:26px;
	color:#fff;
	width:auto;
	text-align:left;
}
.time-info-block li.time-zone {
	font-size:17px;
	margin-bottom:0;
}
.on-air-info {
	height:26px;
	border:1px solid #242424;
	border-width:1px 1px 0 1px;
	color:#fff;
	min-width:85px;
	font-size:16px;
	line-height:100%;
	font-weight:bold;
	text-shadow: #242424 0px -1px;
	text-align:center;
	padding: 10px 0 0 0;
	background-color:#464646;
	margin-top:30px;
}
.on, .off {
	background:#c21717 url(images/on-off-air.png) repeat-x 0 0;
}
.off {
	background:#575050 url(images/on-off-air.png) repeat-x 0 -36px;
	color:#a5a5a5;
}

.listen-control-block a {
	font-size:11px;
	text-transform:uppercase;
	padding:0;
	border:1px solid #242424;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	margin-top:34px;
	display:block;
	
}
.listen-control-block a span {
	background-color: #6e6e6e;
    background: -moz-linear-gradient(top, #868686 0, #6e6e6e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #868686), color-stop(100%, #6e6e6e));
	padding:5px 10px;
	border:1px solid #a1a1a1;
	border-width:1px 0;
	border-bottom-color:#646464;
	color:#dcdcdc;
	text-shadow: #555555 0px -1px;
	display:block;
}
.listen-control-block a:hover {
	border:1px solid #000;
}
.listen-control-block a:hover span {
	background-color: #292929;
    background: -moz-linear-gradient(top, #3b3b3b 0, #292929 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b3b3b), color-stop(100%, #292929));
	border:1px solid #555555;
	border-width:1px 0;
	border-bottom-color:#1e1e1e;
	color:#fff;
	color:#0C0;
	text-shadow: #000 0px -1px;
	display:block;
}
.listen-control-block a:active span {
	color:#fff;
}

/* END Master Panel */


.wrapper {
	margin: 0 20px 0 20px;
	padding:20px 0 0 0;
}

.alpha-block {
	padding:0;
	float:left;
	margin:0 16px 10px 0;
}
.omega-block {
	padding:0;
	float:left;
	margin:0 0 10px 0;
}
.block-shadow {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    box-shadow: 0 2px 2px rgba(0,0,0,.10);
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
fieldset.plain {
	border:none;
	padding:0;
	margin:0;
}
.frame {
	padding:0;
	border:1px solid #5b5b5b;
	margin: 0 0 8px 0;
}
.padded {
	padding:8px;
}
.padded-strong {
	padding:10px;
}
.input_text {
    background:#dddddd url("images/input_bg.png") repeat-x scroll 0 0 ;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #5b5b5b;
    font-size: 12px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-indent: 3px;
	width:auto;
}
.auto-search {
	background:#dddddd url(images/search_auto_bg.png) no-repeat 0 0;
	text-indent:25px;
}
.input_text_area {
    background:#dddddd url("images/input_bg.png") repeat-x scroll 0 0 ;
	border: 1px solid #5b5b5b;
    font-size: 13px;
    text-indent: 3px;
}
.input_select {
    background-color: #DDDDDD;
	border: 1px solid #5b5b5b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin: 0;
    padding: 2px 2px 2px 0;
    vertical-align: top;
}
label {
	font-size:13px;
	color:#5b5b5b;
	padding:0 16px 0 0;
}
#library_quick_search {
	margin-bottom:16px;
}
#library_quick_search label {

}
#library_quick_search input {
	width:60%;
}
dl.inline-list {
	float: left;
	margin: 0;
	padding: 0;	

}

dl.inline-list dt { 
	clear: left;
	float: left;
	margin: 0;
	padding: 0px 0;
	font-weight: bold;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	min-width:70px;
}
dl.inline-list dd { 
	float: left;
	margin: 0;
	padding: 0px 0 4px 15px;
	font-size:12px;
}
.left-floated {
	float:left;
	margin-left:0;
	margin-right:10px;
}
.right-floated {
	float:right;
	margin-left:10px;
	margin-right:0;
	text-align:right;
}
/*----Data Table----*/

.datatable tr th.ui-state-default {
    border: 1px solid #CCC;
	border-width: 0 0 0 1px !important;
}
.datatable {
    border-color: #5b5b5b;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
	width:100%;
}
.datatable tr td, .datatable tr th {
    border-color: #b1b1b1;
    border-style: solid;
    border-width: 1px 0 0 1px;
    font-size: 13px;
    padding: 5px 5px;
}
.odd {
    background-color: #d8d8d8;
}
.even {
    background-color:#c7c7c7;
}
.datatable tr.even.selected td {
    background-color: #abcfe2;
}
.datatable tr.odd.selected td {
    background-color: #c5deeb;
}
.datatable tr:hover td {
    background-color: #95d5f7 !important;
}

.datatable tr td:first-child, .datatable tr th:first-child, .datatable tr th.ui-state-default:first-child {
	border-left-width:0 !important;
}
.ui-widget-header + .datatable {
    border-width: 0px 1px 1px 1px;
}
.datatable + .ui-widget-header {
    border-width: 0px 1px 1px 1px;
}
.dataTables_scrollHeadInner > .datatable {
    border-width: 0px 1px 0 1px;
}
.dataTables_scroll .datatable {
    border-width: 0px 1px 0 1px;
}

.DataTables_sort_wrapper .ui-icon {
    display: block;
    float: left;
	margin: 0 3px 0 -2px;
}
.dataTables_length {
	float:right;
	margin:0 8px 0 0;
	
}
.dataTables_length label {
	padding:10px 6px 0 0;
	font-size:12px;
	color:#404040;
	line-height:22px;
}
.dataTables_filter {
	margin:8px 0 0 8px;
}
.dataTables_filter .auto-search {
	width:60%;
}
.dataTables_processing {
	font-size:11px;
	font-weight:normal;
	margin:2px 0 3px 8px;
}
#library_display_wrapper .ui-widget-header:first-child {
	background:none;
    border-width:0 0 1px 0;
    color: #444444;
    font-weight: bold;
}
#library_display_wrapper .ui-widget-header:first-child .dataTables_length {
	margin:0;
}
#library_display_wrapper .ui-widget-header:first-child .dataTables_filter {
	margin:0;
}

.dataTables_info {
	padding: 8px 0 0 8px;
	font-size:12px;
	color:#555555;
	font-weight:normal;
}

.dataTables_paginate {
	padding: 8px 0 8px 8px;
}
.dataTables_paginate .ui-button {
	font-size:12px;
	font-weight:normal;
    padding: 0.2em 1em;
	margin-right:3px;
}

/*----END Data Table----*/

fieldset {
    border: 1px solid #8f8f8f;
    margin: 0;
    padding: 0;
}
fieldset.plain {
    border: none;
    margin: 0;
    padding: 0;
}
input[type="checkbox"] {
	margin:0;
	outline:none;
	padding:0;
	width:13px;
	height:13px;
}
/*---//////////////////// LOGIN ////////////////////---*/

.login_box {
    margin: 0 auto 0 auto;
    text-align:center;
    width:420px;
    border:1px solid #181818;
	border-width: 0 0 1px 0;
	padding:0;
	padding-top:60px;
}

.login_box h2 {
	background:#1f1f1f;
    background: -moz-linear-gradient(center top , #2c2c2c 0pt, #1f1f1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c2c2c), color-stop(100%, #1f1f1f));
    border:1px solid #181818;
	border-top-color:#4f4f4f;
    margin:0;
    padding:8px 0 8px 14px;
    font-size:15px;
    font-weight:bold;
    color:#bebebe;
    text-align:left;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    box-shadow: 0 2px 2px rgba(0,0,0,.10);
}
.login_box p {
    margin:0;
    padding:8px 0 16px 0;
    font-size:12px;
    color:#717171;
    text-align:left;
}
.logobox {
    height:120px;
    text-align:center;
	background:url(images/airtime_logo_big.png) no-repeat 50% 0;
}

.login {
    margin:2px 0 0 4px;
    border:none;
    background:none;
    text-align:left;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login td {
    border:none;
    background-color:transparent;
	color:#696969;
}

.login h2 {
    padding:7px 0 10px 0;
}

.light {
    color:#1683b0;
}
.alert {
	color:#C00;
}

.login-content {
	background:url(images/login_content_bg.png) no-repeat 0 bottom;
	padding:10px 10px 12px 14px;
	text-align:left;
}
.login-content dl, .login-content dl.zend_form  {
	margin: 12px 0 0 0;
	margin-bottom:8px;
	margin:0;
	padding:0;
	width:100%;
}

.login-content dd {
    padding: 4px 0;
    float: left;
    font-size: 1.2em;
    margin: 0;
    padding: 4px 0 4px 15px;
}
.login-content dt {
    clear: left;
    color: #666666;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 4px 0;
    text-align: left;
	min-width:90px;
	clear:left;
}

dt.block-display, dd.block-display {
	display:block;
	float:none;
	margin-left:0;
	padding-left:0;
}

.login-content dt label {
    padding-right:0;
}
.login-content dd .input_text {
    padding-right:0;
	width:280px;
}

/*---//////////////////// END LOGIN ////////////////////---*/


/*---//////////////////// FOOTER ////////////////////---*/
.footer {
    display:block;
    height:40px;
    clear:both;
	color:#4b4b4b;
    margin-top:12px;
    font-size:11px;
    line-height:140%;
    text-align:center;
    padding:10px 0 0 0;
}

.footer a {
    color:#ff5d1a;
    text-decoration:none;
}
#login-page .footer {
	color:#6d6d6d;
}
.footer a:hover {
    color:#ff5d1a;
    text-decoration:underline;
}
/*---//////////////////// END FOOTER ////////////////////---*/

.button-bar {
	height: 28px;
	margin-top:12px;
}
/*.sticky {
	padding:0;
	width:100%;
	z-index:2000;
	position:fixed;
	top:0;
	left:0;
	margin-bottom:140px;
}*/
.sticky {
	padding:0;
	width:100%;
}

.floated-panel {
	margin-top:0;
	width:99.99%;
	z-index:9999;
}


/*---//////////////////// Schedule Show ////////////////////---*/


#schedule_playlist_dialog .wrapp-two {
	float: left;
	width: 50%;
	padding: 0;
}

#schedule_playlist_dialog .wrapp-one {
	margin-right:2%;
	width: 48%;
	float: left;
}

#schedule_playlist_dialog div:first-child .ui-widget-header:first-child {
    background: none repeat scroll 0 0 transparent;
    border-width: 0 0 1px;
    color: #444444;
    font-weight: bold;
}

#schedule_playlist_dialog div:first-child .ui-widget-header:first-child {
    background: none repeat scroll 0 0 transparent;
    border-width: 0 0 1px;
    color: #444444;
    font-weight: bold;
}
#schedule_playlist_dialog .ui-widget-header:first-child .dataTables_filter,
#schedule_playlist_dialog .ui-widget-header:first-child .dataTables_length {
    margin: 0;
}

.ui-dialog #schedule_playlist_dialog.ui-dialog-content {
	padding:0;
}


#schedule_playlist_dialog > div {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #8f8f8f;
    padding: 8px;
	margin:8px 8px 0 8px;
}


#schedule_playlist_dialog > div h4 {
    padding: 13px 0 12px 0;
    margin: 0;
	font-size:16px;
	font-weight:normal;
}
#schedule_calendar {
	width:98%
}
div.ui-datepicker {
	font-size: 75%;
}


#schedule_playlist_dialog ul {
	list-style-type: none;
	overflow: auto;
	margin: 0 0 8px 0;
	padding: 0;
	height: 280px;
	background:#9a9a9a;
	width:100%;
}

#schedule_playlist_chosen li {
	float: left;
	clear: left;
	margin: 0;
	width: 100%;
	display:block;
	margin-bottom:-1px;
}

#schedule_playlist_chosen li > h3 {
	font-size:15px;
	padding: 7px 0 0 0;
	margin: 0;
	min-height:25px;

}

#schedule_playlist_chosen li > h3 > div {
	float: left;
	margin: 0 5px 2px 0;
}

#schedule_playlist_chosen li > h3 > div > span.ui-icon {
	margin-top: 0px;
}
#schedule_playlist_chosen li > h3 > span.ui-icon.ui-icon-triangle-1-e {
	float:left;
	margin-right: 8px;
}
#schedule_playlist_chosen li > h3 > span.ui-icon.ui-icon-triangle-1-s {
	float:left;
	margin-right: 8px;
}
#schedule_playlist_chosen li > h3 > span.ui-icon.ui-icon-close {
	float:right;
	margin-right: 8px;
}
#schedule_playlist_chosen div.group_list {
	border-width:0 1px 1px 1px;
}
/*#schedule_playlist_chosen li div{
	float: left;
}

#schedule_playlist_chosen li > div{
	width: 475px;
}
*/

#schedule_playlist_chosen li > div > div{
	clear: left;
	padding-top: 5px;
	padding-left: 5px;
}
#schedule_playlist_chosen li > div:first-child {
	border-bottom:1px solid #b1b1b1;
}
.sched_description {
	clear: left;
	font-size: 85%;
	margin-left: 2em;
}

.sh_pl_name {
	min-width: 150px;
}

.sh_pl_creator {

}

#schedule_playlist_chosen li > h3 > div.sh_pl_time {
	float:right;
	margin-right:22px;
}

#schedule_playlist_chosen li > div > div > span {
	float: right;
	margin-right:46px;
}
#schedule_playlist_chosen li > div > div > span.sh_file_name {
	display: inline-block;
	float: left;
	margin-right:0;
}

.sh_file_artist, #schedule_playlist_chosen li > div > div.sh_file_artist {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 8px;
	color:#5b5b5b;
}

#schedule_playlist_chosen li > div > div.sched_description {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 7px;
	border-bottom:1px solid #b1b1b1;
	color:#5b5b5b;
	margin:0;
	background:#dddddd;
}
#show_time_info {
	font-size:12px;
}

#show_time_info > div, #show_time_info > span{
	float: left;
}

#show_progressbar {
	width: 46%;
	height: 5px;
	margin: 9px 9px 0 0;
}
#show_progressbar.ui-widget-content {
	background: #646464 url(images/schedule-show_progressbar_bg.png) repeat-x 0 0;
	border-color:#343434;
	border-bottom-color:#cfcfcf;
}

#show_progressbar .ui-progressbar-value {
	background: #ff5d1a;
	border-color:#343434;
	border-width: 1px 0 0 1px;
}

h2#scheduled_playlist_name {
	font-size:21px;
	font-weight:normal;
	margin:0;
	padding:8px 0 0px 12px;
	color:#1c1c1c; 
}

h2#scheduled_playlist_name span {
	color:#656565; 
}

.time {
	width: 80px;
	margin: 5px;
	text-align: left;
}

/* --- Add show Dialog --- */

#add_show_name {

}

#add_show_description {
	width: 400px;
	height: 200px;
}

#fullcalendar_show_display {
	width: 400px;
}

.fc-agenda-body {
	max-height:560px;
}

#schedule_calendar .ui-progressbar {
	width: 46%;
	height: 5px;
	margin: 9px 9px 0 0;	
}

#schedule_calendar .ui-progressbar.ui-widget-content {
	background: #646464 url(images/schedule-show_progressbar_bg.png) repeat-x 0 0;
	border-color:#343434;
	border-bottom-color:#cfcfcf;
}
#schedule_calendar .ui-progressbar .ui-progressbar-value {
	background: #ff5d1a;
	border-color:#343434;
	border-width: 1px 0 0 1px;
}
/*---//////////////////// Advenced Search ////////////////////---*/

