[Desktop Entry]
Encoding=UTF-8

Name=LiveSupport-Studio
GenericName=LiveSupport Studio GUI Client
Comment=
Icon=/opt/livesupport/var/LiveSupport/livesupport.png

Type=Application
Categories=Application;AudioVideo;Audio;

Exec=/opt/livesupport/bin/LiveSupport/gLiveSupport.sh
Terminal=false

