#schedule-add-show,
#fullcalendar_show_display {
    float: left;
}

#schedule-add-show {
    font-size: 12px;
    /*width: 25%;*/
    width: 310px;
    max-height: calc(100vh - 144px);
    overflow-y: scroll;
}
.usability_hint:not(.hidden) + .wrapper #schedule-add-show{
    max-height: calc(100vh - 172px);
}

#schedule-add-show textarea {
    width: 96%;
    height: 80px;
}

#fullcalendar_show_display {
    width: 60%;
}

#schedule-add-show .ui-tabs-panel {
    padding-top: 8px;
}

#schedule-add-show fieldset {
    padding: 8px;
    margin-bottom: 8px;
}

#schedule-add-show dl {
    margin: 0;
    padding: 0;
    width: 100%;
}

#schedule-add-show dd {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 8px;
    /* padding: 4px 0 4px 15px;*/
}

#schedule-add-show dt, #schedule-add-show dt.big {
    clear: left;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    text-align: left;
    min-width: 103px;
    padding-top: 4px;
}

#schedule-add-show dt.big {
    min-width: 130px;
}

#schedule-add-show dt.block-display, #schedule-add-show dd.block-display {
    display: block;
    float: none;
    margin-left: 0;
    padding-left: 0;
}

#schedule-add-show dt label {
    padding-right: 0;
}

.wrapp-label {
    padding: 0;
    height: 16px;
    display: block;
    line-height: 18px;
}

label.wrapp-label input[type="checkbox"] {
    float: left;
    margin: -1px 2px 0 0;
}

#schedule-add-show fieldset:last-child {
    margin-bottom: 0;
}

#schedule-add-show fieldset dd input[type="checkbox"] {
    margin-top: 6px;
}
#schedule-show-auto input[type="checkbox"] {
    margin-left: 6px;
}

#add_show_day_check-element.block-display {
    margin-bottom: 15px;
    margin-top: 7px;
}

#add_show_day_check-element.block-display label.wrapp-label {
    font-size: 12px;
    float: left;
    margin-right: 10px;
}

#add_show_name-element .input_text {
    /*width:99%;*/
}

#schedule-add-show-overlap {
    border: 1px solid #c83f3f;
    background: #c6b4b4;
    margin-top: 8px;
    padding: 8px;
    color: #902d2d;
    display: none;
}

#add_show_hosts-label {
    width: 100%;
    padding-bottom: 10px;
}

#add_show_hosts-element {
    max-height: 80px;
    min-width: 150px;
}

#add_show_hosts-element > label {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

#add_show_hosts-element input {
    margin-right: 6px;
}

#schedule-show-who {
    overflow-x: hidden;
}

#add_show_logo {
    margin-top: 6px;
}

#add_show_start_time, #add_show_end_time {
    width: 54px;
    margin-left: 10px;
}

#add_show_end_date_no_repeat, #add_show_start_date {
    width: 89px;
}

#add_show_duration {
    background: #AAAAAA;
    cursor: default;
    width: 65px;
}

[id^=add_show_instance_description] {
    display: none;
}

#add_show_logo_current,
#add_show_logo_preview {
    border: 1px solid #5b5b5b;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(48, 48, 48, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(48, 48, 48, 1);
    box-shadow: 0px 0px 2px 1px rgba(48, 48, 48, 1);
    width: 200px;
    height: 200px;
    display: none;
    cursor: default;
}

#add_show_logo_current_remove {
    display: none;
    height: 28px;
}

.add-button {
    cursor: pointer;
}

/*
.add-button {
    border: 1px solid #5b5b5b;
    background-color: #767676;
    background: -moz-linear-gradient(top, #868686 0, #6e6e6e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #868686), color-stop(100%, #6e6e6e));
    color: #ffffff;
    margin:0;
    font-size:12px;
    padding:4px 12px 4px 22px;
    text-decoration:none;
    display:block;
    float:left;
    position:relative;
}

.add-button span {
    position:absolute;
    top:3px;
    left:3px;
    height:16px;
    width:16px;
    display:block;
    background:url(redmond/images/ui-icons_ffffff_256x240.png) no-repeat;
}
/*.add-button:hover span {*/
    /*background:url(redmond/images/ui-icons_ff5d1a_256x240.png) no-repeat;*/
/*}*/
.add-button span.add-icon {
    background-position: -32px -129px;
}

.add-button[disabled] {
    cursor: auto;
    color: #e7e7e7;
    /*border: 1px solid #a1a1a1;*/
    /*background-color: #b1b1b1;*/
    /*background: -moz-linear-gradient(top, #c7c7c7 0, #c7c7c7 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c7c7c7), color-stop(100%, #c7c7c7));*/
}


.ui-state-hover {
    background: inherit;
}

#cb_airtime_auth-label,
#cb_custom_auth-label {
    width: 80%;
}
