.embed-player-text-box {
    padding-right: 0px !important;
    width: 100% !important;
}
.embed-player-form dd {
    width: 100% !important;
    float: left;
    margin: 0;
    padding: 4px 0px 4px 0px;
}
.player-preview {
    width: 100%;
    background-color: #111;
    padding-top: 25px;
    padding-bottom: 25px;
}
.player-preview iframe {
    margin: 0 auto;
    display: block;
}
#player_form {
    width: 100%;
    margin: 0 auto;
}
#player_form dd {
    margin-bottom: 10px;
}
#player_instructions {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 14px;
    /*font-weight: bold;*/
    margin-bottom: 10px;
    margin-top: 10px;
}
.player-title {
    clear: left;
    float: left;
    font-size: 13px;
    width: 40px;
    padding: 4px 0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 17px;
}
#player_title {
    clear: left;
}
#player_stream_url-element {
    margin-left:30px;
}
#player_embed_src-element p {
    margin: 0px;
    font-size: 13px;
}


table#player_compatibility_chart{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    color: #3b3b3b;
}

#player_compatibility_chart th, tr, td {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999 !important;
    background-color: #ccc;
    padding: 10px;
}

#player_compatibility_chart th
{
    color: #1f1f1f;
    border: 0px;
}
