@CHARSET "UTF-8";

#history_content {
	width: 100%;
	margin: 0 0 30px 0;
	height: auto;
	box-sizing: border-box;
}

.dataTables_filter input {
	width: 30%;
}

#history_content input.input_text.hasDatepicker {
    width: 95px;
}

#history_content input.input_text.hasTimepicker {
    width: 60px;
}

div.his-timerange {
    position: relative;
    margin-bottom: 5px;
}

div.his-timerange div {
    position: absolute;
    bottom: 0px;
    padding: 3px;
    margin-left: 5px;
}

table.dataTable tbody tr {
	cursor: auto;
}

.his-selected.even {
	background-color: rgba(240, 109, 53, 1);
}
.his-selected.odd {
    background-color: rgba(255, 136, 56, 1);
}

.show-title, .show-time {
    display:inline-block;
    font-size:13px;
}
.show-title {
    font-weight: bold;
    margin: 0 8px;
}

.show-date {
    font-size:12px;
    margin: 0 5px;
}

.show-time {
    font-size:12px;
    margin: 0 5px;
}
        
.push-right {
    float:right;
    margin-right:5px;
}
