/*
   Plupload
------------------------------------------------------------------- */

.plupload_button {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	*line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #efefef;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #676767;
	background-image: -moz-linear-gradient(top, #676767, #535353);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#535353));
	background-image: -webkit-linear-gradient(top, #676767, #535353);
	background-image: -o-linear-gradient(top, #676767, #535353);
	background-image: linear-gradient(to bottom, #676767, #535353);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#535353', GradientType=0);

	border-color: #5b5b5b #5b5b5b #4f4f4f;
	*background-color: #676767;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #525252;
	border-color: rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.55);
	*border: 0;
	border-bottom-color: #323232;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.plupload_button:hover {
	color: #fff;
	background-color: #535353;
	*background-color: #535353;
}

.plupload_disabled, a.plupload_disabled:hover {
    color: #737373;
    border-color: #c5c5c5;
    background: #ededed url('img/buttons-disabled.png') no-repeat 0 center;
	cursor: default;
}

.plupload_add {
	background-position: -181px center;
}

.plupload_wrapper {
	width: 100%;
}

.plupload_container {
	padding: 8px;
	/*background: url('img/transp50.png');*/
	/*-moz-border-radius: 5px;*/


	border: 1px solid #202020;
	border-top: 1px solid #353535;
	border-left: 1px solid #2a2a2a;

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.65);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.65);
	box-shadow: inset 0 0 6px rgba(0,0,0,.65);

	background-color: #242424;
	color: #efefef;

}

.plupload_container input {
	border: 1px solid #DDD;
	font: normal 11px Verdana,sans-serif;
	width: 98%;
}

.plupload_header {background: #2A2C2E url('img/backgrounds.gif') repeat-x;}
.plupload_header_content {
	min-height: 56px;
	padding-left: 10px;
	color: #FFF;
}
.plupload_header_title {
	font: normal 18px sans-serif;
	padding: 6px 0 3px;
}
.plupload_header_text {
	font: normal 12px sans-serif;
}

.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.plupload_scroll .plupload_filelist {
	height: 185px;
	background: #F5F5F5;
	overflow-y: scroll;
}

.plupload_filelist li {
	padding: 10px 8px;
	background: #F5F5F5 url('img/backgrounds.gif') repeat-x 0 -156px;
	border-bottom: 1px solid #DDD;
}

.plupload_filelist_header, .plupload_filelist_footer {
	background: #DFDFDF;
	padding: 8px 8px;
	color: #42454A;
}
.plupload_filelist_header {
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_footer {border-top: 1px solid #FFF; height: 22px; line-height: 20px; vertical-align: middle;}
.plupload_file_name {float: left; overflow: hidden}
.plupload_file_status {color: #777;}
.plupload_file_status span {color: #42454A;}
.plupload_file_size, .plupload_file_status, .plupload_progress {
	float: right;
	width: 80px;
}
.plupload_file_size, .plupload_file_status, .plupload_file_action {text-align: right;}

.plupload_filelist .plupload_file_name {width: 68%;}

.plupload_file_action {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 15px;
}

.plupload_file_action * {
	display: none;
	width: 16px;
	height: 16px;
}

li.plupload_uploading {background: #ECF3DC url('img/backgrounds.gif') repeat-x 0 -238px;}
li.plupload_done {color:#AAA}

li.plupload_delete a {
	background: url('img/delete.gif');
}

li.plupload_failed a {
	background: url('img/error.gif');
	cursor: default;
}

li.plupload_done a {
	background: url('img/done.gif');
	cursor: default;
}

.plupload_progress, .plupload_upload_status {
	display: none;
}

.plupload_progress_container {
	margin-top: 3px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}
.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
	margin-right: 17px;
}

/* Floats */

.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;
}

li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;
}
