div.date_form input.error {
    background-color: rgba(255,0,0,0.2);
}
div.error_window.error {
    background-color: rgba(255,0,0,0.2);
    color:white;
}
div.error_window {
    background-color: white;
}
