#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

config.status: configure
	dh_testdir
	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) \
                                       --build=$(DEB_BUILD_GNU_TYPE) \
                                       --prefix=/opt/campcaster \
                                       --with-www-docroot=/var/www \
                                       --with-apache-group=www-data \
                                       --with-station-audio-out=hw:0,0 \
                                       --with-studio-audio-out=hw:1,0 \
                                       --with-studio-audio-cue=hw:2,0 \
                                       --with-hostname=localhost

build: build-arch

build-arch: build-arch-stamp
build-arch-stamp:  config.status

	$(MAKE) setup compile
	touch build-arch-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp #CONFIGURE-STAMP#

	-$(MAKE) distclean clean

	dh_clean 

install: install-arch

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	# this will install everything into /opt/campcaster/usr
	$(MAKE) install

	# move the installation to debian/campcaster
	mkdir -p $(CURDIR)/debian/campcaster/opt
	mv /opt/campcaster $(CURDIR)/debian/campcaster/opt

	# now separate the libraries into debian/campcaster-libs
	mkdir -p $(CURDIR)/debian/campcaster-libs
	mkdir -p $(CURDIR)/debian/campcaster-libs/opt/campcaster
	mkdir -p $(CURDIR)/debian/campcaster-libs/opt/campcaster/bin
	mkdir -p $(CURDIR)/debian/campcaster-libs/opt/campcaster/tmp
	mkdir -p $(CURDIR)/debian/campcaster-libs/opt/campcaster/usr/lib
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/lib \
	          $(CURDIR)/debian/campcaster-libs/opt/campcaster

	# now separate the station (server) files into debian/campcaster-station
	mkdir -p $(CURDIR)/debian/campcaster-station
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster/bin
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster/etc
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster/tmp
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster/var/Campcaster
	mkdir -p $(CURDIR)/debian/campcaster-station/opt/campcaster/usr/lib
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-scheduler \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-scheduler.sh \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/postInstallStation.sh \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/createDatabase.sh \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/createOdbcDataSource.sh \
		      $(CURDIR)/debian/campcaster-station/opt/campcaster/bin
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/etc/campcaster-scheduler.xml* \
	      $(CURDIR)/debian/campcaster/opt/campcaster/etc/odbc* \
		      $(CURDIR)/debian/campcaster-station/opt/campcaster/etc
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/alib \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/archiveServer \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/getid3 \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/htmlUI \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/index.php \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/scheduler \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/storageServer \
          $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/storageAdmin \
              $(CURDIR)/debian/campcaster-station/opt/campcaster/var/Campcaster
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-backup \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-import \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/dumpDbSchema.sh \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-restore \
              $(CURDIR)/debian/campcaster-station/opt/campcaster/bin
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/etc/apache \
	      $(CURDIR)/debian/campcaster/opt/campcaster/etc/pg_hba.conf \
	      $(CURDIR)/debian/campcaster/opt/campcaster/etc/campcaster-scheduler \
              $(CURDIR)/debian/campcaster-station/opt/campcaster/etc

	# now separate the studio (client) files into debian/campcaster-studio
	mkdir -p $(CURDIR)/debian/campcaster-studio
	mkdir -p $(CURDIR)/debian/campcaster-studio/opt/campcaster
	mkdir -p $(CURDIR)/debian/campcaster-studio/opt/campcaster/bin
	mkdir -p $(CURDIR)/debian/campcaster-studio/opt/campcaster/etc
	mkdir -p $(CURDIR)/debian/campcaster-studio/opt/campcaster/tmp
	mkdir -p $(CURDIR)/debian/campcaster-studio/opt/campcaster/var/Campcaster
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-studio \
	      $(CURDIR)/debian/campcaster/opt/campcaster/bin/campcaster-studio.sh \
		      $(CURDIR)/debian/campcaster-studio/opt/campcaster/bin
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/etc/campcaster-studio.xml* \
              $(CURDIR)/debian/campcaster-studio/opt/campcaster/etc
	mv -f $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/Widgets \
	      $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/studio-localization \
	      $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/glade \
		  $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/campcaster.png \
		  $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/icon*.png \
		  $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/stationLogo.png \
		  $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/testAudio.ogg \
		  $(CURDIR)/debian/campcaster/opt/campcaster/var/Campcaster/testAudio.ogg.license \
		      $(CURDIR)/debian/campcaster-studio/opt/campcaster/var/Campcaster
	mkdir -p $(CURDIR)/debian/campcaster-studio/usr/share/applications
	cp -a $(CURDIR)/debian/campcaster-studio.desktop \
		      $(CURDIR)/debian/campcaster-studio/usr/share/applications/
	dh_desktop -pcampcaster-studio    
	dh_installmenu 

	dh_install -s

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
#	dh_installdocs
#	dh_installexamples
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#       Replaced dh_installinit with manual init script installation
#       because invoke.rc-d is linked to /bin/true in the knoppix hdd install.
#       Should be changed back when/if knoppix is fixed.
#	dh_installinit --update-rcd-params="defaults 92"
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -l${CURDIR}/debian/campcaster-libs/opt/campcaster/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch
.PHONY: build clean binary-arch binary install install-arch 
