body {
	font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #2C2C2C;
	margin: 0px;
	vertical-align : middle;
}

img { font-size: 12px;
    border: none;
}

form { font-size: 12px;
    margin: 15px 0 15px 0;
}

.clearer { font-size: 12px;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.container { font-size: 12px;
    width: 100%;
}

.button { font-size: 12px;
    font-weight: bold;
    color: #666;
    background-color: #F7F9FB;
    padding: 0 25px 0 25px;
    cursor: pointer;
    width: 100px;
}

.button_large { font-size: 12px;
    font-weight: bold;
    color: #666;
    background-color: #F7F9FB;
    padding: 0 25px 0 25px;
    cursor: pointer;
    width: 150px;
}

.button_small { font-size: 12px;
    font-weight: bold;
    color: #666;
    background-color: #F7F9FB;
    cursor: pointer;
    width: 34px;
}

input, select { font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    border-top: 1px solid #C7CCCC;
    border-left: 1px solid #C7CCCC;
    border-bottom: 1px solid #A4A9A9;
    border-right: 1px solid #A4A9A9;
}

.checkbox { font-size: 12px;
    border: none;
}

.input { font-size: 12px;
    height: 16px;
}

.input[class] { font-size: 12px;
    height: 15px;
}


/* #################################### CONTENTAREA ############################### */


.content { font-size: 12px;
    margin: 19px;
    margin-top: 0;
    float: left;
}

.container_elements { font-size: 12px;
    border: 1px solid #cfcfcf;
    padding: 6px;
    margin-bottom: 21px;
}

.container_elements h1 { font-size: 12px;
    font-size: 18px;
    margin: 0 0 4px 0;
    color: #666;
}

.head { font-size: 12px;
    background-color: #5286ba;
    font-weight: bold;
    color: #FFF;
}

.head .left { font-size: 12px;
    padding: 5px 0 3px 10px;
    float: left;
    width: 330px;
}

.head .right { font-size: 12px;
    padding: 5px 10px 3px 0;
    float: left;
    text-align: right;
    width: 224px;
}

.container_table { font-size: 12px;
    /*height: 275px;*/
    overflow: auto;
}


table { font-size: 12px;
    border-collapse: collapse;
}

table td { font-size: 12px;
    padding: 0 6px 0 12px;
    height: 19px;
}

