<phpunit bootstrap="./application/bootstrap.php" colors="true">
    <testsuite name="My Application Tests">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
                <file>../application/Bootstrap.php</file>
                <file>../application/controllers/ErrorController.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="ENVIRONMENT" value="testing" />
        <env name="APPLICATION_ENV" value="testing" />
        <env name="LIBRETIME_UNIT_TEST" value="1" />
        <env name="LIBRETIME_CONFIG_DIR" value="./config" />
        <env name="LIBRETIME_LOG_DIR" value="./log" />
    </php>

    <!-- Disabling broken code coverage report. It's not using our autoloader for some reason...
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" hightlight="true" lowupperbound="50" highlowerbound="80">
        <log type="testdox" target="./log/testdox.html">
    </log></log></logging>
-->
</phpunit>
