@charset "utf-8";
/* CSS Document */


#headerLiveHolder, #headerLiveTrackHolder {
    overflow: hidden;
	position:relative;
	width:300px!important;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
	margin: 0;
	padding: 0;
    }
	#headerLiveHolder *, #headerLiveTrackHolder * {
	  margin: 0;
	  padding: 0;
	  }
	#headerLiveHolder ul {
	  list-style-type:none;
	  margin: 0;
	  padding: 0;
	  }
	#headerLiveHolder h4 {
	  font-size:10px;
	  color:#68bd44;
	  text-transform:uppercase;
	  font-weight:normal;
	  line-height:12px;
	  }
	#headerLiveTrackHolder span#status-current-show {
	  font-size:10px;
	  color:#68bd44;
	  text-transform:uppercase;
	  font-weight:normal;
	  line-height:12px;
	  }
	#headerLiveHolder ul li, #headerLiveTrackHolder ul li {
	  overflow:hidden;
	  position:relative;
	  height:12px;
	  padding-right:70px;
	  font-size:11px;
	  color:#999999;
	  line-height:11px;
	  }
	#headerLiveHolder ul li.current, #headerLiveTrackHolder ul li.current {
	  font-weight:bold;
	  color:#666666;
	  }
	  #headerLiveHolder ul li span {
		position:absolute;
		right:0px;
		}
	  #headerLiveHolder ul li span#time-elapsed {
		right: 50px;
	  }
	  #headerLiveHolder ul li span#time-elapsed:before {
		content: "e.";
	  }
	  #headerLiveHolder ul li span#time-remaining:before {
		content: "r.";
	  }
	  #headerLiveTrackHolder span.current{
	  font-weight:bold;
	  color:#666666;
	  position:absolute;
		right:10px;
		font-size: 11px;
	  }
	  #headerLiveTrackHolder span#time-elapsed {
		right: 65px;
	  }
	  #headerLiveTrackHolder span#time-elapsed:before {
		content: "e.";
	  }
	  #headerLiveTrackHolder span#time-remaining:before {
		content: "r.";
	  }
	  

#onAirToday {
  width:300px;
  margin-bottom:15px;
  border:1px solid #999999;
  font-family: Arial,Helvetica,sans-serif;
  }
  #onAirToday h3 {
    margin:0;
    padding:0 10px;
    font-size:13px;
    color:#ffffff;
    line-height:28px;
    background: #999999;
    }
  #onAirToday table {
    border-collapse: collapse;
    clear: both;
    padding: 0;
	}
	#onAirToday table tbody {
      color: #000;
	  font-size:12px;
      }
	  #onAirToday table tbody tr {
		height: 30px;
		}
		#onAirToday table tbody tr td {
		  border-bottom: 1px dotted #d9d9d9;
		  height: 30px;
		  padding-left: 10px;
		  font-weight:bold;
		  }
          #onAirToday table tbody tr td a {
			text-decoration:none;
			}
			#onAirToday table tbody tr td a:hover {
			text-decoration:underline;
			}
		  #onAirToday table tbody tr:last-child td {
			border-bottom: none;
			}
		  #onAirToday table tbody tr td.time {
			font-weight:normal;
			color: #666666;
			}	
/* = PROGRAM SCHEDULE ---------------- */

  /*
  + Center Column */
  #scheduleTabs {
	font-family: Arial,Helvetica,sans-serif;
	}
    #scheduleTabs ul {
      overflow:hidden;
      height:28px;
	  background: url( widget-img/schedule-tabs-list-bgr.png) repeat-x left bottom;
	  list-style-type:none;
	  margin:0;
	  padding:0;
      }
      #scheduleTabs ul li {
        float:left;
        height:28px;
		margin:0;
	  	padding:0;
        }
        #scheduleTabs ul li a {
          display:block;
		  float:left;
          height:25px;
          padding:0 10px;
		  margin-top:3px;
          font-size:12px;
		  font-weight:bold;
		  color:#666;
		  line-height:25px;
          border-right:1px solid #dbdbdb;
		  border-left:1px solid #f4f4f4;
		  text-decoration:none;
          }
        #scheduleTabs ul li a:hover {
		  color:#000;
		  text-decoration:none;
          }
        #scheduleTabs ul li.ui-tabs-selected a {
          height:27px;
          margin-top:0px;
          line-height:27px;
		  color:#333333;
          background:#ffffff; 
          border:1px solid #cac9c9; border-bottom:none;
          }
    #scheduleTabs table {
      clear:both;
      padding:0px;
      border-collapse:collapse;
	  width:100%;
      }
      #scheduleTabs table thead {
        height:35px;
        font-size:12px; color:#333333; line-height:35px;
        background-color: #fff;
        background: -moz-linear-gradient(top, #ffffff 10%, #f4f4f4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffffff), color-stop(100%, #f4f4f4));
		border-bottom:1px solid #d4d4d4;
        }
        #scheduleTabs table thead tr {
          height:35px;
          }
          #scheduleTabs table thead tr td {
            padding-left:10px;
            font-size:11px; color:#999999; text-transform:uppercase;
            }
      #scheduleTabs table tfoot {
        }
      #scheduleTabs table tbody {
        font-size:13px; color:#666666;  font-weight:bold;
        }
        #scheduleTabs table tbody tr {
          height:30px;
          }
          #scheduleTabs table tbody tr td {
            height:30px;
            padding-left:10px;
            border-bottom:1px dotted #b3b3b3;
            }
            #scheduleTabs table tbody tr td h4 {
              color:#333333;  font-size:12px;
			  margin:0;
			  padding:0;
              }
            #scheduleTabs table tbody tr td ul {
              background:none !important;
			  list-style-type:none;
              }
              #scheduleTabs table tbody tr td ul li {
                float:left;
                height:30px !important;
                padding:0 2px;
                font-size:12px; color:#cc0000; font-weight:normal; line-height:30px !important;
                }
                #scheduleTabs table tbody tr td ul li a {
                  height:30px !important;
                  margin:0px !important; padding:0px !important;
                  font-size:12px; color:#68BD44 !important; font-weight:normal !important; text-transform:uppercase; line-height:30px !important;
                  background:none !important;
                  border:none !important;
                  }
                #scheduleTabs table tbody tr td ul li a:hover {
                  text-decoration:underline;
                  }

#scheduleTabs.ui-tabs .ui-tabs-hide {
    display: none;
}

.embedScheduleWidget {
	width: 500px;
}