[Unit]
Description=LibreTime Media Analyzer Service

[Service]
ExecStart=/usr/bin/libretime-analyzer
User=libretime-analyzer
Group=libretime-analyzer
Restart=always

[Install]
WantedBy=multi-user.target
