[Unit]
Description=LibreTime Media Analyzer Service
PartOf=libretime.target

[Service]
EnvironmentFile=-@@CONFIG_DIR@@/env
Environment=LIBRETIME_LOG_FILEPATH=@@LOG_DIR@@/analyzer.log
Environment=LIBRETIME_CONFIG_FILEPATH=@@CONFIG_FILEPATH@@
WorkingDirectory=@@WORKING_DIR@@/analyzer

ExecStart=/usr/local/bin/libretime-analyzer
User=libretime
Group=libretime
Restart=always

[Install]
WantedBy=multi-user.target
