Source: airtime
Section: web
Priority: optional
Maintainer: Daniel James <daniel@64studio.com>
Build-Depends: debhelper (>= 7.0.50~), po-debconf
Standards-Version: 3.9.3
Homepage: http://www.sourcefabric.org/en/airtime/

Package: airtime
Architecture: all
Pre-Depends: postgresql, python-virtualenv (>= 1.4.9)
Depends: apache2,
 coreutils (>= 7.5) | timeout,
 curl,
 ecasound,
 flac,
 gzip (>= 1.3.12),
 libapache2-mod-php5,
 libcamomile-ocaml-data,
 liquidsoap (>= 1.1.1~),
 locales,
 lsof,
 monit,
 mp3gain,
 multitail,
 odbc-postgresql,
 patch,
 php5-cli,
 php5-curl,
 php-db,
 php5-gd,
 php-pear,
 php5-pgsql,
 pwgen,
 python,
 rabbitmq-server,
 silan (>= 0.3.1~),
 sudo,
 sysv-rc, 
 tar (>= 1.22),
 unzip,
 vorbisgain,
 vorbis-tools,
 zendframework | libzend-framework-php,
 ${misc:Depends}
Recommends: icecast2, php-apc
Suggests: airtime-audio-samples,
 alsa-utils
Description: open broadcast software for scheduling and station management.
 Airtime is an open source application that provides remote automation 
 of a broadcast station.
 .
 Major features:
 .
 Web-based remote station management.  Authorized personnel can add
 program material, create playlists, and schedule programming all via 
 a web interface.
 .
 Automation.  Airtime has a scheduler function that enables users to
 set shows with playlists for playback at a date and time of their choosing.
 Playlists can be played back multiple times.
 .
 Solid, fast playback.  Airtime uses the open source Liquidsoap 
 multimedia framework for clean, reliable, fast playback. 
 .
 Open, extensible architecture.  Stations are free to extend and alter 
 all parts of the program code.
