#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs" \
        ./configure --prefix=$(CURDIR)/debian/tmp \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--sysconfdir=$(CURDIR)/debian/tmp/etc\
		--with-www-docroot=$(CURDIR)/debian/tmp/var/www \
		--with-apache-group=www-data \
		--with-station-audio-out=hw:0,0 \
		--with-studio-audio-out=hw:1,0 \
		--with-studio-audio-cue=hw:2,0 \
		--with-storage-server=/usr/share/campcaster\
		--with-hostname=localhost

override_dh_prep:
	#dh_prep
	rm -f debian/campcaster.substvars
	rm -f debian/campcaster.*.debhelper
	rm -rf debian/campcaster-libs/
	rm -rf debian/campcaster-studio/
	rm -rf debian/campcaster-station/
	#
	# CUSTOMIZED LIBS..
	mkdir -p debian/campcaster-libs/usr/lib/campcaster
	mv debian/tmp/lib/libodbc++-mt.so* debian/campcaster-libs/usr/lib/campcaster/
	mv debian/tmp/lib/libtag.so* debian/campcaster-libs/usr/lib/campcaster/
	mv debian/tmp/lib/libxmlrpc++.so* debian/campcaster-libs/usr/lib/campcaster/
	mv debian/tmp/lib/pear debian/campcaster-libs/usr/lib/campcaster/pear
	#
	rm -rf debian/tmp
	#
	# campcaster installs a symlink here and will fail if the dir does not exist
	mkdir -p debian/tmp/var/www


override_dh_install:
	dh_install
	#
	mkdir -p debian/campcaster-studio/usr/share/pixmaps/
	cp src/products/gLiveSupport/var/icon32.xpm debian/campcaster-studio/usr/share/pixmaps/campcaster.xpm
	# 
	mkdir -p debian/campcaster-studio/usr/lib/campcaster/bin
	# 
	# station (server) 
	mkdir -p debian/campcaster-station/usr/lib/campcaster/bin
	mkdir -p debian/campcaster-station/usr/share/campcaster/etc
	mkdir -p debian/campcaster-station/usr/share/campcaster/www
	mkdir -p debian/campcaster-station/etc/
	mv -f debian/tmp/bin/campcaster-scheduler \
	      debian/tmp/bin/campcaster-scheduler.sh \
	      debian/tmp/bin/postInstallStation.sh \
	      debian/tmp/bin/createDatabase.sh \
	      debian/tmp/bin/createOdbcDataSource.sh \
	      debian/tmp/bin/campcaster-backup \
	      debian/tmp/bin/campcaster-import \
	      debian/tmp/bin/dumpDbSchema.sh \
	      debian/tmp/bin/campcaster-restore \
			debian/campcaster-station/usr/lib/campcaster/bin/
	mv -f debian/tmp/etc/campcaster-scheduler.xml \
			debian/campcaster-station/etc/
	# CONFIG templates (for postinst and cc-scripts)
	mv -f   debian/tmp/etc/pg_hba.conf \
		debian/tmp/etc/odbc_template \
		debian/tmp/etc/odbcinst_template \
		debian/tmp/etc/odbcinst_old_debian_template \
		debian/tmp/etc/odbcinst_new_debian_template \
		debian/tmp/etc/apache/90_php_campcaster.conf \
			debian/campcaster-station/usr/share/campcaster/etc/
	# CONFIG files
	mkdir -p debian/campcaster-station/etc/campcaster/storageServer
	mkdir -p debian/campcaster-station/etc/campcaster/storageAdmin
	mkdir -p debian/campcaster-station/etc/campcaster/htmlUI
	#
	mv -f debian/tmp/var/Campcaster/storageServer/var/conf.php \
			debian/campcaster-station/etc/campcaster/storageServer/conf.php
	mv -f debian/tmp/var/Campcaster/storageServer/var/campcaster_version.php \
			debian/campcaster-station/etc/campcaster/storageServer/
	mv -f debian/tmp/var/Campcaster/storageAdmin/var/conf.php \
			debian/campcaster-station/etc/campcaster/storageAdmin/conf.php
	mv -f debian/tmp/var/Campcaster/htmlUI/var/ui_conf.php \
			debian/campcaster-station/etc/campcaster/htmlUI/ui_conf.php
	#
	mv -f debian/tmp/var/Campcaster/alib \
	      debian/tmp/var/Campcaster/getid3 \
	      debian/tmp/var/Campcaster/htmlUI \
	      debian/tmp/var/Campcaster/index.php \
	      debian/tmp/var/Campcaster/scheduler \
	      debian/tmp/var/Campcaster/storageServer \
	      debian/tmp/var/Campcaster/storageAdmin \
			debian/campcaster-station/usr/share/campcaster/www
	# symlink CONFIG files
	ln -s  /etc/campcaster/storageServer/conf.php debian/campcaster-station/usr/share/campcaster/www/storageServer/var/conf.php
	ln -s  /etc/campcaster/storageServer/campcaster_version.php debian/campcaster-station/usr/share/campcaster/www/storageServer/var/
	ln -s  /etc/campcaster/storageAdmin/conf.php  debian/campcaster-station/usr/share/campcaster/www/storageAdmin/var/conf.php
	ln -s  /etc/campcaster/htmlUI/ui_conf.php  debian/campcaster-station/usr/share/campcaster/www/htmlUI/var/ui_conf.php
	#	
	mkdir -p debian/campcaster-station/usr/bin/
	ln -s /usr/lib/campcaster/bin/campcaster-scheduler.sh debian/campcaster-station/usr/bin/campcaster-scheduler
	ln -s /usr/lib/campcaster/bin/campcaster-import debian/campcaster-station/usr/bin/campcaster-import
	#ln -s /usr/lib/campcaster/bin/campcaster-backup debian/campcaster-station/usr/bin/campcaster-backup
	#ln -s /usr/lib/campcaster/bin/campcaster-restore debian/campcaster-station/usr/sbin/campcaster-restore
	#
	# studio (client)
	mkdir -p debian/campcaster-studio/usr/lib/campcaster/bin
	mkdir -p debian/campcaster-studio/usr/share/campcaster/etc
	mkdir -p debian/campcaster-studio/etc/
	mkdir -p debian/campcaster-studio/usr/share/campcaster/www
	
	mv debian/tmp/lib/liblivesupport* debian/campcaster-studio/usr/lib/
	mv -f debian/tmp/bin/campcaster-studio \
	      debian/tmp/bin/campcaster-studio.sh \
			debian/campcaster-studio/usr/lib/campcaster/bin/
	mv -f debian/tmp/etc/campcaster-studio.xml debian/campcaster-studio/etc/
	mv -f debian/tmp/etc/campcaster-studio.xml.template debian/campcaster-studio/usr/share/campcaster/etc/
	mv -f debian/tmp/var/Campcaster/Widgets \
	      debian/tmp/var/Campcaster/studio-localization \
	      debian/tmp/var/Campcaster/glade \
	      debian/tmp/var/Campcaster/campcaster.png \
	      debian/tmp/var/Campcaster/icon*.png \
	      debian/tmp/var/Campcaster/stationLogo.png \
	      debian/tmp/var/Campcaster/testAudio.ogg \
			debian/campcaster-studio/usr/share/campcaster/www/
	mkdir -p debian/campcaster-studio/usr/bin/
	ln -s /usr/lib/campcaster/bin/campcaster-studio.sh debian/campcaster-studio/usr/bin/campcaster-studio
	# move -studio's share to -data
	mkdir -p debian/campcaster-data/usr/share/
	mv debian/campcaster-station/usr/share/campcaster debian/campcaster-data/usr/share/	
	rmdir  debian/campcaster-station/usr/share/

override_dh_fixperms:
	dh_fixperms
	#
	chmod +x debian/campcaster-data/usr/share/campcaster/www/storageServer/var/install/airtime-user.php
	chmod -x debian/campcaster-data/usr/share/campcaster/www/storageServer/var/cron/Crontab.php \
		 debian/campcaster-data/usr/share/campcaster/www/storageServer/var/cron/CronJob.php \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/templates/popup/PLAYLIST.downloadExportedFile.tpl \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/Smarty/libs/plugins/outputfilter.localizer.php \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/templates/playlist/import.tpl \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/Smarty/libs/Smarty.class.php \
		 debian/campcaster-data/usr/share/campcaster/www/storageServer/var/Backup.php \
		 debian/campcaster-data/usr/share/campcaster/www/storageServer/var/cron/Cron.php \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/templates/popup/PLAYLIST.export.tpl \
		 debian/campcaster-data/usr/share/campcaster/www/htmlUI/var/Smarty/libs/plugins/postfilter.template_marker.php

override_dh_shlibdeps:
	LD_LIBRARY_PATH=debian/campcaster-libs/usr/lib/campcaster/ dh_shlibdeps

override_dh_makeshlibs:
	dh_makeshlibs -n

override_dh_installinit:
	dh_installinit --params "defaults 92"
