html, body {
    /*background: #242424;*/
    background: #111;
    overflow: hidden;
}

div.ColVis_collectionBackground {
    background-color: transparent;
}

.wrapper {
    position: absolute;
    /* Height of the top panel */
    top: 141px;
    bottom: 0;
    /*background: #242424;*/
    background: #111;
    left: 0;
    right: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

/* Usability hint */

.usability_hint {
    flex: 0 100%;
    width: 100%;
}

/* Scroll bars */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5d1a;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.75);
}

/* Show Builder*/

@media screen and (max-width: 1475px) {
    #library_content, #show_builder, #side_playlist, #media_type_nav {
        /*height: auto !important;*/
        max-height: 50% !important;
        width: 100% !important;
    }
    #side_playlist {
        margin-top: 0 !important;
    }
    #media_type_nav div {
        float: left;
        width: 20%;
        text-align: center;
        margin: auto;
    }
    #media_type_nav .dropdown-menu {
        width: 100%;
        text-align: center;
    }
    #media_type_nav .media_type_selector {
        margin-top: 3px;
    }
}

@media screen and (max-width: 780px) {
    #library_content .dataTables_filter input[type="text"] {
        position: relative;
        width: calc(100% - 10px) !important;
        margin: 0 .5em .5em 0;
    }
    .wrapper {
        height: calc(100% - 166px) !important; /* Correct for margins */
        padding: 0 15px 15px !important;
        margin-top: 10px; /* This is only necessary if we aren't using a responsive menu! */
    }
}

@media screen and (max-width: 555px) {
    #sb_show_filter {
        float: none !important;
        margin-top: 4px;
    }
}

.btn {
    color: #efefef;
}

/* Library */

#library_content {
    margin-right: 10px;
    overflow: hidden !important;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#library_content .dataTables_filter {
    margin: 0;
}

#library_content .dataTables_filter input[type="text"], #library_content .dataTables_filter select {
    margin-top: 6px;
    width: 20%;
    float: right;
    height: 26px;
}

#library_content label {
    padding: 0;
}

#library_content .dataTables_length {
    padding: 5px;
}

#library_content .dataTables_length label {
    color: #555555;
}

#library_content legend, #library_content span, #library_content label {
    font-weight: normal;
    color: #efefef;
}

#library_content .fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

#library_display_wrapper {
    flex: 1 100%;
}

#library_display_wrapper, #show_builder_table_wrapper {
    position: absolute;
    top: 36px;
    bottom: 4px;
    right: 4px;
    left: 4px;
    /*background-color: #474747;*/
}

#library_content, #show_builder, #side_playlist, #media_type_nav {
    position: relative;
    height: 95%;

    border: 1px solid #202020;
    border-top: 1px solid #272727;
    border-left: 1px solid #272727;

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.65);
       -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.65);
            box-shadow: inset 0 0 6px rgba(0,0,0,.65);

    background-color: #242424;
}

#library_content, #show_builder, #side_playlist {
    /* Account for the left pane */
    flex: 5 auto;
    min-width: 470px;
}

#library_content .dataTables_scrolling {
    position: absolute;
    bottom: 38px;
    top: 38px;
    left: 0;
    right: 0;
}

#filter_options{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;

    flex: 1 100%;
}

/* Timeline */

#show_builder {
    float: right;
}

.sb-content .dataTables_wrapper {
    margin: 0;
}

.sb-padded {
    padding: 0;
}

#sb_submit {
    text-decoration: none;
    padding: 4px;
    color: #efefef;
    float: none;
}

.sb-options-form {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    float: left;
}

.sb-options-form label {
    color: #efefef;
    line-height: 26px;
}

.dataTables_scrolling.sb-padded {
    position: absolute;
    top: 38px;
    bottom: 4px;
    right: 0;
    left: 0;
}

#sb_show_filter {
    float: right;
}

#show_builder_table_wrapper {
    bottom: 0;
}

/* Media editors */

#side_playlist {
    float: right;
    color: #efefef;
    font-size: inherit;
    overflow: hidden;
}

/* Media type selector */

#media_type_nav {
    flex: 1 auto;
    margin-right: 10px;
}

#media_type_nav div {
    padding: 4px;
}

#new_media_selector {
    width: 100%;
}

.media_type_selector {
    cursor: pointer;
    color: #cecece;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin: 10px 10px 0 0;

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.media_type_selector.selected {
    color: #fff;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.media_type_selector:hover {
    color: #fff;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

/* DataTables */

.ColVis_collection.TableTools_collection.ui-buttonset.ui-buttonset-multi {
    max-height: 50%;
    overflow: auto;
}

.helper.ui-draggable-dragging {
    z-index: 9999;
}

.datatable tr, .datatable td {
    border: none !important;
}

/* Uploads/Dropzone */

#upload_form {
    width: 100%;
    min-width: 470px;

    background: none;
    border: 2px dashed #efefef;

    color: #efefef;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 14px;

    margin-top: 10px;
}
