/* Show Builder*/

@media screen and (max-width: 1475px) {
    .lib-test, .sb-test, .media-builder-test, #media_type_nav {
        height: auto !important;
        width: 100% !important;
    }
    .media-builder-test {
        margin-top: 0 !important;
    }
    #media_type_nav div {
        float: left;
        width: 20%;
        text-align: center;
        margin: auto;
    }
    #media_type_nav .dropdown-menu {
        width: 100%;
        text-align: center;
    }
    #media_type_nav .media_type_selector {
        margin-top: .25em;
    }
}

@media screen and (max-width: 780px) {
    .lib-test .dataTables_filter input[type="text"] {
        position: relative;
        width: calc(100% - 1em) !important;
        margin: 0 .5em .5em 0;
    }
    .wrapper {
        padding: 1em !important;
    }
}

@media screen and (max-width: 555px) {
    #sb_show_filter {
        float: none !important;
        margin-top: 4px;
    }
}

.btn {
    color: #efefef;
}

.lib-test .dataTables_filter {
    margin: 0;
}

.lib-test .dataTables_filter input[type="text"], .lib-test .dataTables_filter select {
    margin-top: .5em;
    width: 20%;
    float: right;
    height: 26px;
}

.lib-test label {
    padding: 0;
}

.lib-test .dataTables_length {
    padding: 5px;
}

.lib-test .dataTables_length label {
    color: #555555;
}

.lib-test legend, .lib-test span, .lib-test label {
    font-weight: normal;
    color: #efefef;
}

.lib-test {
    margin: 2em 2em 2em 0;
    overflow: hidden !important;
}

.lib-test .dataTables_scrolling {
    /* Subtract Advanced search (32) + header (38) + footer (38) */
    height: calc(100% - 108px);
}

#library_display_wrapper, #show_builder_table_wrapper {
    background-color: #474747;
}

.lib-test, .sb-test, .media-builder-test {
    height: 70%;
    /* 1em for the middle margin, 6 for half the width of the left pane */
    width: calc(50% - 8em);
    min-width: 470px;
}

#library_display_wrapper, #show_builder_table_wrapper {
    height: 100%;
}

/* Timeline */

.sb-test {
    margin-top: 2em;
}

#sb_submit {
    text-decoration: none;
    padding: .35em;
    color: #efefef;
    float: none;
}

.sb-options-form {
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.sb-options-form label {
    color: #efefef;
    line-height: 26px;
}

#sb_show_filter {
    float: right;
}

#show_builder_table_wrapper {
    clear: both;
}

/* Media builder */

.media-builder-test {
    color: #efefef;
    margin-top: 2em; /* Standardize this somehow */
}

#side_playlist {
    width: calc(50% - 8em);
    font-size: inherit;
    overflow: hidden;
}

/* Media type selector */

#media_type_nav {
    float: left;
    margin: 5.2em 0 0 0;

    width: 12em;

    background: none;
    padding: 0 2em 0 0;
}

#new_media_selector {
    width: 100%;
}

.media_type_selector {
    cursor: pointer;
    color: #cecece;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin: 1em 1em 0 0;

    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.media_type_selector.selected {
    color: #fff;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.media_type_selector:hover {
    color: #fff;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

/* Uploads/Dropzone */

#upload_form {
    width: 100%;
    min-width: 470px;

    background: none;
    border: 2px dashed #efefef;

    color: #efefef;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4rem;

    margin-top: 1em;
}
