@CHARSET "UTF-8";

.billing-panel
{
	width: 500px;
	margin-bottom: 30px;
}

.billing-panel h3
{
	padding-left: 0px;
}

.billing-panel h4
{
    font-size: 1.25em;
    margin: 0px;
    /*color: #333;*/
    font-weight: normal;
}

#upgrade-downgrade
{
	border: 0px solid #000;
	margin: 0 auto;
	/*color: #000;*/
}

#upgrade-downgrade label
{
	/*color: rgb(28,28,28);*/
}
#upgrade-downgrade label.disabled
{
	/*color: rgb(108,108,108);*/
}

#upgrade-downgrade dl
{
	width: 300px;
}

#upgrade-downgrade dt, #upgrade-downgrade dd
{
	margin: 0px;
}

#upgrade-downgrade dd
{
	margin-bottom: 10px;
}

.pricing-grid table
{
	border-spacing: 0px;
    border-collapse: separate;
	width: 680px;
	/*border: 1px solid #777;*/
	/*background-color: #555;*/
	table-layout: fixed;
	margin-top: 20px;
	margin-bottom: 20px;
	/*box-shadow: 0px 5px 5px rgba(0,0,0,0.5);*/
	color: #000;
}

.pricing-grid .august-promo div {
	display: inline-block;
	background-color: #ff611f;
	padding: 3px 5px;
	border-radius: 5px;
	margin-left: -5px;
	color: #ffffff;
}

.pricing-grid .august-promo span {
	text-decoration: line-through;
}

.pricing-grid td, .pricing-grid th
{
	border-bottom: 1px solid #5b5b5b;
	border-right: 1px solid #5b5b5b;
	padding: 10px;
}

.pricing-grid td {
	background: #2f2f2f;
	color: #cdcdcd;
}

.pricing-grid .last-column {
	border-right: none;
}

.pricing-grid .last-row td {
	border-bottom: none;
}

.pricing-grid th
{
    border: 0px;
	color: #CDCDCD;
	background-color:#5E5E5E;
	background: #5E5E5E;
	border-top: 1px solid #9d9d9d;
	/*background: -moz-linear-gradient(top, #dd4202 0, #ff5d1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dd4202), color-stop(100%, #ff5d1a));*/
}


.pricing-grid tr.price td
{
	text-align: right;
    background-color: #ddd;
    font-weight: bold;
	background-color: #2f2f2f;
	color: #cdcdcd;
}

#plantype
{
	float: left;
}

#billingcycle
{
	float: left;
	margin-left: 30px;
}

#billingcycle_disclaimer
{
    float: left;
    margin-left: 30px;
    width: 200px;
}

#vat_disclaimer
{
	text-align: right;
	font-size: 0.9em;
	margin-bottom: 30px;
}

#vat_disclaimer2
{
    float:right;
    width: 200px;
}

#subtotal_box, #total_box
{
	position: relative;
	text-align: right;
	margin-top: 30px;
	margin-bottom: 10px;
	border: 1px solid #777;
	background: #ccc;
	padding: 5px;
	color: #000;
}
#total_box
{
	margin-top: 10px;
}

#total
{
	border-bottom: 3px double;
}

#savings
{
	/*line-height: 30px;*/
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#paymentmethod
{
}

.billing_col1, .billing_col2
{
	float: left;
	margin-right: 10px;
}

.billing_checkbox
{
	float: left;
	margin-right: 5px;
    margin-bottom: 10px;
}

#upgrade-downgrade input[type=submit]
{
	float: right;
}

#invoices_table
{
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid #777;
    /*background-color: #555;*/
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 35px;
	width: 500px;
}

#invoices_table tbody tr th
{
	border: 0px;
	color: #efefef;
	background: #5E5E5E;
	background-color: #5E5E5E;
	border-top: 1px solid #9d9d9d;

}

#invoices_table .header
{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}


#invoices_table tr
{
    border: 1px solid #555;
}

#invoices_table .unpaid
{
	color: #ff0000;
}

/** This form is the separate one on the Billing Account Details page (BillingClient.php) */
#clientdetails_form {
	width: 500px;
}

#clientdetails_form dt {
    float: left;
    clear: both;
    width: 50%;
    /*margin-bottom: 10px;*/
}
#clientdetails_form dd {
	float: left;
	margin-left: 0px;
	margin-bottom: 10px;
}
#clientdetails_form .right-align
{
	/*text-align: right;*/
	width: 100%;
}

#promo-plan-eligible {
	margin-top: 10px;
	font-size: 13px;
	background-color: #ff611f;
	padding: 3px 5px;
	border-radius: 5px;
	color: #ffffff;
}

.promo-banner {
	margin-top:10px;
	background: url('images/august_aweomse_promo_banner.png') no-repeat;
}

.billing-details-checkbox {
	width: auto;
}

#current_plan {
	padding-top: 10px;
	font-size: 16px;
}

#current_plan span {
	color: #ff611f;
	font-weight: bold;
}
