.embed-player-text-box {
    padding-right: 0px !important;
    width: 100% !important;
}
.embed-player-form {
    width: 70%;
}
.embed-player-form dd {
    width: 100% !important;
    float: left;
    margin: 0;
    padding: 4px 0px 4px 0px;
}

