#history_template h4, #configure_item_template h4 { font-size: 14px; margin-top: 0px; }

#history_template ul, #configure_item_template ul { list-style: none; padding-left: 0px; }

#history_template li, #configure_item_template li {
	clear: both;
	background: #AAAAAA;
	margin: 2px 0 4px 0;
	padding: 4px 8px 4px 8px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #9F9F9F;
	min-height: 15px;
}

#history_template li a, #configure_item_template li a {
	text-decoration: none;
}

#history_template li a:hover, #configure_item_template li a:hover {
	text-decoration: underline;
}

#history_template li .template_name {
	float: left;
}

#history_template li.template_configured {
	background: #9A9A9A;
	border: 1px solid #858585;
}

#history_template .template_remove, #history_template .template_default {
	float: right;
	margin-left: 10px;
}

#history_template .template_default {
	margin-left: 20px;
}

#history_template .icon-ok {
	float: right;
	margin-left: 10px;
}

#configure_item_template li span {
	cursor: move;
	padding-left: 6px;
}

#configure_item_template li .template_item_remove, #configure_item_template li .field_add {
	cursor: pointer;
	float: right;
	margin-left: 20px;
}

#configure_item_template li .template_item_remove:hover, #configure_item_template li .field_add:hover {
	opacity:0.7;
	filter:alpha(opacity=70); 
}

#configure_item_template #template_name {
	min-width: 230px;
	float: right;
}

#configure_item_template .template_name_wrap {
	display: inline-block;
}

#configure_item_template label {
	vertical-align: middle;
}

#configure_item_template .template_item_add {
	margin-bottom: 10px;
}

#configure_item_template .template_item_add .btn {
	padding: 2px 14px 1px;
}

#configure_item_template .template_item_list li {
	background-image: url('../css/images/drag.png');
	background-repeat: no-repeat;
	background-position: 4px 5px;
}

/* Edit History Record */

.ui-dialog form.ui-widget-content dd {
	margin-left: 0px;
	margin-bottom: 10px;
}

.ui-dialog form.ui-widget-content dt {
	margin-bottom: 2px;
}

.ui-dialog form.ui-widget-content dd input {
	width: 90%;
}

.bootstrap-datetimepicker-widget ul {
   padding-left: 0px !important;
}

.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
   -webkit-border-radius: 2px !important;
   -moz-border-radius: 2px !important;
   border-radius: 2px !important;
}

.ui-dialog-content .well {
	max-width: 230px;
}
.ui-dialog-content .well .date {
	margin-left: 25px;
}

.ui-dialog .ui-dialog-content .well .date .add-on {
	position: absolute;
	left: 30px;
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 3px 3px 0px 6px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	float: left;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
	background: #5C5C5C !important;
}

#configure_item_template {
	width: 100%;
	max-width: 620px;
}

.add_more {
	float: right;
}

#configure_item_template #template_name {
	margin-bottom: 14px;
}

#configure_item_template .template_item_list li {
	width: 270px;
}

#configure_item_template li {
	width: 270px;
}

#configure_item_template .template_item_list li.field_other {
	background-color: #CACACA;
}

.ui-widget-content {
	background: #C0C0C0 !important;
}

#history_content .btn-toolbar {
	margin: 10px;
}

#history_content div.DTTT_container {
	margin-top: 8px;
}

#history_content .dataTables_length {
	margin-top: 9px;
	margin-right: 10px;
}

.btn [class^="icon-"] {
	margin-top: 0;
}

#history_content .ui-tabs .ui-tabs-panel {
	padding-top: 10px;
}

div.his-timerange input.error {
    background-color: rgba(255,0,0,0.2);
}
