@CHARSET "UTF-8";

.sb-content {
    overflow: hidden;
}

.sb-content .dataTables_scrolling {
    overflow: auto;
}

.sb-content .dataTables_wrapper {
	margin-left: -16px;
}

.sb-selected.even {
    background-color: rgba(240, 109, 53, 1);
}
.sb-selected.odd {
    background-color: rgba(255, 136, 56, 1);
}

.sb-content .fg-toolbar ul {
	float: left;
	padding: 0;
	margin: 0.5em 0 0 10px;
	cursor: pointer;
}

.sb-content .fg-toolbar ul li {
    list-style-type: none;
    float: left;
    padding: 1px 2px;
    margin-right: 5px;
}

.sb-padded {
	/*
	the padding is needed here so that the cursor arrows with a negative margin are displayable.
	*/
	padding-left: 16px;
}

.sb-content fieldset legend {
    font-size: 13px;
    white-space: nowrap;
    width: 110px;
}

.sb-content fieldset label {
    padding: 2px;
    font-size: 12px;
}

.sb-content fieldset select {
	margin-right: 10px;
}

.sb-content input[type="checkbox"] {
	position: relative;
	top: 3px;
}

.sb-content fieldset {
    margin-bottom: 8px;
}

.sb-content fieldset.closed {
	border-width: 1px 0 0;
    margin-bottom: -16px;
    margin-left:1px;
}

.sb-content fieldset.closed .sb-options-form {
	display: none;
}

.sb-content th {
	text-align: left;
}

.sb-content input.input_text.hasDatepicker {
    width:95px;
}

.sb-content input.input_text.hasTimepicker {
    width:60px;
}

div.sb-timerange {
    position: relative;
}

div.sb-timerange div#sb_edit {
	position:absolute;
    padding: 3px;
}

div.sb-timerange div#sb_submit {
	padding: 3px;
	margin-left: 5px;
}


div.sb-timerange input#sb_date_start {
    margin-left: 30px;
}

div.sb-timerange input.error {
    background-color: rgba(255,0,0,0.2);
}

.sb-starts,
.sb-ends {
	text-align: center;
}

.innerWrapper {
    position:relative;
    width:100%;
}
.marker {
    background: url(images/tl-arrow.png) no-repeat scroll 3px 4px;
    top: -14px;
    display: block;
    height: 9px;
    left: -17px;
    padding: 4px 0 4px 3px;
    position: absolute;
    width: 9px;
    background-color: rgba(70, 70, 70, 0.35);
    border-radius: 2px 0 0 2px;
	cursor:pointer;
}
.marker:hover {
	background-color: rgba(70, 70, 70, 0.95);
	border-radius: 2px 0 0 2px;
}
tr.cursor-selected-row .marker {
    background-color: rgba(215, 0, 0, 1);
}

table.datatable tr.cursor-selected-row td, table.datatable tr.cursor-selected-row th {
    border-top: 1px solid rgba(215, 0, 0, 1) !important;
}

.sb-content .sb-past {
	opacity: .6;
}

.sb-placeholder {
    height: 35px;
    padding: 5px;
}

.sb-boundry td.sb-image, 
.sb-boundry td.sb-starts, 
.sb-boundry td.sb-ends,
.sb-boundry td.sb-length, 
.sb-boundry td.sb-title, 
.sb-boundry td.sb-creator, 
.sb-boundry td.sb-album,
.sb-boundry td.sb-cue-in, 
.sb-boundry td.sb-cue-out, 
.sb-boundry td.sb-fade-in, 
.sb-boundry td.sb-fade-out {
    background-color: rgba(230, 106, 49, 0.5);
}

.sb-over td.sb-image,
.sb-over td.sb-starts, 
.sb-over td.sb-ends,
.sb-over td.sb-length, 
.sb-over td.sb-title, 
.sb-over td.sb-creator, 
.sb-over td.sb-album,
.sb-over td.sb-cue-in, 
.sb-over td.sb-cue-out, 
.sb-over td.sb-fade-in, 
.sb-over td.sb-fade-out {
    background-color: rgba(255, 0, 0, 0.5);
}

.sb-now-playing td {
    background-color: rgba(23, 235, 37, 1) !important;
}

.sb-content.padded {
	padding: 8px 8px 8px 16px;
}

table.dataTable tr.sb-past, 
table.dataTable tr.sb-header,
table.dataTable tr.sb-footer,
table.dataTable tr.sb-not-allowed {
    cursor: auto;
}

table.dataTable td.sb-image {
	cursor: pointer;
}

table.datatable tr.sb-header.odd td, table.datatable tr.sb-header.even td,
table.datatable tr.sb-header.odd:hover td, table.datatable tr.sb-header.even:hover td{
    background: -moz-linear-gradient(top, #a4a4a4 0, #bcbcbc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a4a4a4), color-stop(100%, #bcbcbc));
	background: linear-gradient(top, #a4a4a4 0, #bcbcbc 100%);
	border-top-color:#6b6a6a !important;
}

.sb-content tr:last-child td {
	border-bottom-width: 1px !important;
    border-bottom-color:#6b6a6a !important;	
}

.sb-header div.ui-state-default {
	float: left;
}

.sb-content input.ui-button {
    padding: 3px 1em;
}	
.color-box {
	position:absolute;
	top:-5px;
	bottom:-5px;
	left:-5px;
	width:27px;
	background: rgba(140, 2, 140, 1);
}

.show-title, .show-time {
	display:inline-block;
	font-size:13px;
}
.show-title {
	font-weight: bold;
	margin: 0 8px;
}

.show-date {
    font-size:12px;
    color: #363636;
    margin-left: 5px;
}

.show-time {
	font-size:12px;
	color: #363636;
	margin: 0 5px;
}
		
.push-right {
	float:right;
	margin-right:5px;
}

/*
* keep the dialog css at the bottom so it can override previous rules if needed.
*/

.ui-dialog .wrapper {
    margin: 0;
    padding: 10px 0 0 0;
    overflow: hidden;
}

.ui-dialog .lib_content {
    margin: 0 10px 10px 0;
    overflow: auto;
    min-height: 0;
}

.ui-dialog .sb-content {
    margin: 0 0 10px 0;
    overflow: auto;   
}

.ui-dialog .lib_content .padded {
    padding: 5px 10px 5px 8px;
}

.ui-dialog .sb_content .padded {
    padding: 5px 10px 5px 16px;
}