@CHARSET "UTF-8";

#show_builder {
    width:95%;
}

#show_builder_table th {
	text-align: left;
}

#show_builder input.input_text {
    width:100px;
}

table.datatable tr.cursor-selected-row td, table.datatable tr.cursor-selected-row th {
    border-bottom: 2px solid #db0000 !important;
}
.innerWrapper {
    position:relative;
    width:100%;
    }
.marker {
    position:absolute;
    bottom:-10px;
    left:-14px;
    width:9px;
    height:9px;
    background:url(images/tl-arrow.png) no-repeat 0 0;
    display:block;
}
tr.cursor-selected-row .marker {
    background-position: 0 -15px;
}

.sb-boundry {
    background-color:#e66a31;
}

.sb-over {
    background-color:#ff3030;
}

.sb-now-playing {
    background-color:#17eb25 !important;
}

.ui-dialog .wrapper {
    margin: 0;
    padding: 10px 0 0 0;
    overflow: hidden;
}

.ui-dialog #library_content {
    margin: 0 10px 10px 0;
    overflow: auto;
    min-height: 0;
}

.ui-dialog #show_builder {
    margin: 0 0 10px 0;
    overflow: auto;   
}

.ui-dialog .padded {
    padding: 5px 10px 5px 8px;
}

.ui-dialog .ui-buttonset {
    margin-right: 0 !important;
}