DirectoryIndex index.php
Options +FollowSymLinks -Indexes

<IfModule mod_mime.c>
    <IfModule mod_php4.c>
        AddType application/x-httpd-php .php

        php_flag magic_quotes_gpc On
        php_flag register_globals Off
    </IfModule>

</IfModule>

php_value upload_max_filesize	100M
php_value post_max_size		101M
