[Desktop Entry]
Type=Application
Version=1.0
Name=Airtime
GenericName=Broadcast automation system
Icon=/usr/share/pixmaps/airtime.xpm
Exec=/usr/bin/airtime-launch-browser
Categories=AudioVideo;Audio;
