html {
    background-color: #f5f5f5;
}

body {
    padding: 2em 0;
    min-width: 600px;
    width: 50%;
    text-align: center;
    margin: 3em auto;
    border: 1px solid lightgray;
    border-radius: 5em;
}

.logo {
    margin-bottom: .5em;
}

.table {
    padding: 0;
    margin: 3em 0 0 0;
}

.checklist {
    overflow: auto;
    height: 50%;
}

.caption {
    padding-left: .5em;
}

.component {
    font-weight: bold;
    width: 20%;
}

.description, .solution {
    width: 40%;
}

.check {
    background: #dff0d8 url("css/images/accept.png") no-repeat center;
}

.footer {
    margin: inherit;
    width: inherit;
    bottom: 0;
}