.logo {
    margin-bottom: .5em;
}

.table {
    padding: 0;
    margin: 1em 0 0 0;
}

.checklist {
    overflow: auto;
    height: 50%;
    min-height: 200px;
}

.caption {
    padding-left: .5em;
}

.component {
    font-weight: bold;
    width: 20%;
}

.description, .solution {
    width: 40%;
}

.check {
    background: #dff0d8 url("../images/accept.png") no-repeat center;
}

.footer {
    margin: inherit;
    width: inherit;
    bottom: 0;
}