#PEAR_Config 0.9
a:9:{s:15:"preferred_state";s:6:"stable";s:7:"bin_dir";s:66:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/bin";s:7:"php_dir";s:66:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/php";s:7:"doc_dir";s:71:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/php/docs";s:8:"data_dir";s:71:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/php/data";s:8:"test_dir";s:72:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/php/tests";s:9:"cache_dir";s:72:"/home/tomash/public_html/work/mdlf/livesupport-ALL/usr/lib/php/php/cache";s:9:"cache_ttl";i:300;s:7:"php_bin";s:0:"";}