// Place SASS variable overrides here
// $font-size-root: 18px;
$background: rgba(53, 53, 53, 0.9); // or #353535
$light-grey: #aaaaaa;
$libretime-orange: #ff5d1a;
$libretime-cyan: rgba(69, 155, 143, 0.8);