[Unit]
Description=Libretime Liquidsoap Service

[Service]
Environment=LIBRETIME_LOG_FILEPATH=/var/log/libretime/liquidsoap.log

ExecStart=/usr/local/bin/libretime-liquidsoap
User=libretime-playout
Group=libretime-playout
Restart=always

[Install]
WantedBy=multi-user.target
