[Unit]
Description=LibreTime Liquidsoap Service
PartOf=libretime.target

[Service]
NoNewPrivileges=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full

Environment=PYTHONOPTIMIZE=2
Environment=LIBRETIME_CONFIG_FILEPATH=@@CONFIG_FILEPATH@@
Environment=LIBRETIME_LOG_FILEPATH=@@LOG_DIR@@/liquidsoap.log
Environment=LIBRETIME_OUTPUT_PATH=@@HLS_PLAYOUT_OUTPUT@@
WorkingDirectory=@@WORKING_DIR@@/playout

ExecStart=/usr/local/bin/libretime-liquidsoap
Restart=always

User=libretime
Group=libretime

[Install]
WantedBy=multi-user.target
