[Unit]
Description=LibreTime Playout Service
PartOf=libretime.target
Wants=libretime-liquidsoap.service
After=libretime-liquidsoap.service

[Service]
Environment=LIBRETIME_LOG_FILEPATH=@@LOG_DIR@@/playout.log
Environment=LIBRETIME_CONFIG_FILEPATH=@@CONFIG_FILEPATH@@
WorkingDirectory=@@WORKING_DIR@@/playout

ExecStart=/usr/local/bin/libretime-playout
User=libretime
Group=libretime
Restart=always

[Install]
WantedBy=multi-user.target
