[Unit]
Description=Libretime Playout Service
After=network-online.target

[Service]
Environment=LIBRETIME_LOG_FILEPATH=/var/log/libretime/playout.log
Environment=LIBRETIME_CONFIG_FILEPATH=/etc/airtime/airtime.conf
WorkingDirectory=/var/lib/libretime/playout

ExecStart=/usr/local/bin/libretime-playout
User=libretime-pypo
Group=libretime-pypo
Restart=always

[Install]
WantedBy=multi-user.target
