@CHARSET "UTF-8";

/* Used to hide non-ui fields **/
span.audioFileID {
    display:none;
}
span.audioFileTitle {
    display:none;
}
span.audioFileArtist {
    display:none;
}
span.playlistID {
    display:none;
}
span.playlistIndex {
    display:none;
}
span.showID {
    display:none;
}
span.showIndex {
    display:none;
}

/* End of non-ui fields **/

.jp-playlist-current .podcast_title {
	color: #FF6F01;
}

.current-track {
	padding-left: 5px;
	margin-bottom: 5px;
}

div.jp-audio,
div.jp-video {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size:1em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family: Arial,Helvetica,sans-serif;
	line-height:1.6;
	color: #9B9B9B;
	position:relative;
	/*border-color: #262526 #262526 #5E5E5E;
    border-style: solid;
    border-width: 1px;*/
}

div.jp-audio {
	width:420px;
}
div.jp-video-270p {
	width:100%;
}
div.jp-video-360p {
	width:640px;
}

div.jp-interface {
	/*position: relative;*/
    /*background-color: #3D3D3D;
    background: -moz-linear-gradient(top, #6E6E6E 0, #3a3a3a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6E6E6E), color-stop(100%, #3a3a3a));
    width: 100%;*/
	/*max-width: 600px;*/
	text-align:center;
	background: rgba(0, 0, 0, 0.3);
}

div.jp-audio div.jp-type-single div.jp-interface {
	height:80px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height:45px;
	padding-top: 10px;
	display: inline-block;
	width: 100%;
}

.rss-buttons {
	width: 100px;
	height: 40px;
}

/* @group CONTROLS */

div.jp-interface ul.jp-controls {
	float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    left: 10px;
}

div.jp-interface ul.jp-controls li {
	list-style-type: none;
    float: left;
    padding: 1px 2px;
    margin-right: 5px;
	border: none;
}

div.jp-interface ul.jp-controls li.jp-play,
div.jp-interface ul.jp-controls li.jp-pause {
	padding: 6px 7px;
	margin-top: -5px;
}

div.jp-mute span {
    background: url("jplayer.png") 0 -90px no-repeat;
}
div.jp-mute span:hover {
    background: url("jplayer.png") -30px -90px no-repeat;
}

div.jp-unmute span {
    background: url("jplayer.png") -60px -90px no-repeat;
}
div.jp-unmute span:hover {
    background: url("jplayer.png") -90px -90px no-repeat;
}

div.jp-volume-max span {
    background: url("jplayer.png") 0 -112px no-repeat;
}
div.jp-volume-max span:hover {
    background: url("jplayer.png") -30px -112px no-repeat;
}


/* @end */

/* @group progress bar */

div.jp-time-block {
	position: relative;
    top: 8px;
	display: inline;
	left: 0;
    /*left: 230px;*/
	/*margin-left: -150px;*/
}

div.jp-time-holder {
	position: relative;
	display: inline;
	top: -3px;
}

div.jp-progress {
	overflow:hidden;
	background-color: #393939;
}
div.jp-audio div.jp-progress {
	height: 15px;
	border-color: #262526 #262526 #262526;
    border-style: solid;
    border-width: 1px;
}
/*
div.jp-audio div.jp-type-single div.jp-progress {
	left:110px;
	width:186px;
}
*/
div.jp-audio div.jp-type-playlist div.jp-progress {
	width: 170px;
	display:inline-block;
}

div.jp-seek-bar {
	background-color: #393939;
	width:0px;
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
	background-color: #FF6F01;
	width:0px;
	height:100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("pbar-ani.gif");
}

/* @end */

/* @group volume controls */

li.jp-mute,
li.jp-unmute,
li.jp-volume-max {
    margin-top: 2px;
}

div.jp-mute span,
div.jp-unmute span,
div.jp-volume-max span{
	width: 17px;
	height: 16px;
}

/*
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
	margin-left: 210px;
}
*/

div.jp-volume-block {
	position: absolute;
	top: 53px;
    /*left: 500px;*/
	right: 0;
    width: 120px;
}

div.jp-mute,
div.jp-unmute,
div.jp-volume-bar,
div.jp-volume-max {
	float: left;
	cursor: pointer;
}

div.jp-volume-bar {
	position: absolute;
	overflow:hidden;
	background-color: #393939;
	width: 50px;
	height:5px;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 2px;
}
div.jp-audio div.jp-volume-bar {
	border-color: #262526 #262526 #5E5E5E;
    border-style: solid;
    border-width: 1px;
}

div.jp-volume-bar-value {
	background-color: #FF6F01;
	width:0px;
	height:5px;
}

div.jp-volume-max {
	margin-left: 65px;
}

/* @end */

/* @group current time and duration */

div.jp-current-time,
div.jp-duration {
	width: 60px;
	font-size: 1em;
}
div.jp-current-time {
	/*float: left;*/
	display: inline;
	padding-top: 3px;
	color: #FF6F01;
}
div.jp-duration {
	float: right;
	display: inline;
	text-align: right;
	color: #9B9B9B;
}

/* @end */

/* @group playlist */

div.jp-title {
	font-weight:bold;
	text-align:center;
}

div.jp-title,
/*div.jp-playlist {
	width:100%;
	background-color: #D8D8D8;
}*/
.podcast_bck {
	background: rgba(0, 0, 0, 0.3);
	max-height: 0px;
	transition: max-height 2s ease;
	padding: 30px 40px;
}

.podcast.current .podcast_bck {
	max-height: 2000px;
}

/*.podcast .jp-playlist ul, .podcast ul {
	list-style: none;
	padding-left: 0px;
	text-align: left;
}

.podcast .jp-playlist ul li {
	padding: 15px 0px 15px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	transition: border-bottom 0.4s ease;
	padding-right: 100px;
	position: relative;
}

.podcast .jp-playlist ul li:hover {
	border-bottom: 1px solid rgba(253,137,19,0.4);
}

.podcast .jp-playlist ul li a {
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	display: block;
	text-transform: uppercase;
	clear: both;
}

.podcast .jp-playlist ul li .podcast_info {
	display: inline-block;
}

.podcast .jp-playlist ul li span {
	margin: 5px 20px 2px 0px;
	display: inline-block;
	color: #888;
}*/

.podcast ul, .podcast ul {
	list-style: none;
	padding-left: 0px;
	text-align: left;
}

.podcast ul li, .playlist-item-no-preview {
	padding: 15px 0px 15px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	transition: border-bottom 0.4s ease;
	padding-right: 100px;
	position: relative;
}

.podcast ul li:hover, .playlist-item-no-preview:hover {
	border-bottom: 1px solid rgba(253,137,19,0.4);
}

.podcast ul li a, .podcast_title, .current-track span {
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	display: block;
	text-transform: uppercase;
	clear: both;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}

.current-track span {
	display: inline;
	margin-left:10px;
	color: #FF6F01;
	width: 90%;
}

.track-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.podcast ul li .podcast_info {
	display: inline-block;
	width: 99%;
}

.podcast ul li span, .playlist-item-no-preview span {
	margin: 5px 20px 2px 0px;
	display: inline-block;
	color: #888;
}


.podcast_btn_group {
	display: inline-block;
	top: 20px;
	right: 0px;
	position: absolute;
	text-align: right;
}

.podcast .podcast_action_btn {
	opacity: 0.4;
	cursor: pointer;
	margin-right: 15px;
}

.podcast .podcast_action_btn:hover {
	opacity: 1;
}

.podcast .podcast_no_play {
	margin-right: 15px;
	opacity: 0.4;
}

.podcast .podcast_desc_btn {
	cursor: pointer;
	background: url('img/arrow.png') no-repeat center right;
	padding-right: 15px;
	transition: color 0.4s ease;
}

.podcast .podcast_desc_btn:hover {
	color: #fff;
}

.podcast .podcast_desc_btn.current {
	color: #fff;
}

.podcast .podcast_desc {
	display: none;
	font-size: 15px;
}.pagination {
	 list-style: none;
	 padding-left: 0px;
	 margin-top: 10px;
 }

ul.pagination li {
	color: #fff;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border-bottom: none;
	transition: none;
}

ul.pagination li.current {
	border-bottom: 1px solid #FD8913;
}

.current-track {
	text-align: left;
}


div.jp-type-single div.jp-title,
div.jp-type-playlist div.jp-title,
/*div.jp-type-single div.jp-playlist {
	border-top:none;
}*/
div.jp-title ul,
/*div.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
}*/

div.jp-title li {
	padding:5px 0;
	font-weight:bold;
}

/*div.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #eee;
}

div.jp-playlist li div {
	display:inline;
}*/

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

/*div.jp-type-playlist div.jp-playlist li:last-child {
	padding:5px 0 5px 20px;
	border-bottom:none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	padding-left:7px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #333;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color:#9B9B9B;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color: #FF6F01;
}*/
span.jp-artist {
	font-size: 90%;
	color:#9B9B9B;
	margin-left: 5px;
}

/* @end */

div.jp-video-270p div.jp-video-play {
	height:270px;
}
div.jp-video-360p div.jp-video-play {
	height:360px;
}
div.jp-video-full div.jp-video-play {
	height:100%;
	z-index:1000;
}

div.jp-jplayer audio,
div.jp-jplayer {
	width:0px;
	height:0px;
}

div.jp-jplayer {
	background-color: #000000;
}

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	position:absolute;
	width:390px;
	margin-left:-202px;
	left:50%;
	top: 10px;

	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

.playbar {
	display: block;
	width: 33%;
	float: left;
}

/* @end */

@media (max-width: 780px) {
	div.jp-audio div.jp-type-playlist div.jp-interface {
		height: 60px;
	}
}


@media (max-width: 590px) {
	.jp-time-block {
		display:block !important;
	}
	.playbar {
		width: 50%;
		clear:both;
	}
	.playbar-progress {

		margin-left: 10px;
	}
	div.jp-audio div.jp-type-playlist div.jp-interface {
		height: 100px;
	}
}

@media (max-width: 430px) {

	.jp-volume-block {
		display:none;
	}
}
