Source: campcaster
Section: sound
Priority: optional
Maintainer: ls_maintainer
Build-Depends: debhelper (>= 4.0.0),
               binutils (>= 2.13),
               gcc (>= 3.3),
               g++ (>= 3.3),
               libc6-dev,
               make (>= 3.80),
               automake1.8 | automake (>= 1.8),
               autoconf (>= 2.59),
               libtool,
               pkg-config (>= 0.15),
               patch (>= 2.5.9),
               doxygen,
               tar,
               gzip,
               unzip,
               bzip2,
               curl,
               graphviz,
               xsltproc,
               unixodbc-dev (>= 2.2),
               odbc-postgresql,
               fontconfig,
               libfontconfig1-dev,
               libpng12-dev,
               libjpeg62-dev,
               openssl,
               libssl-dev,
               libxml2-dev,
               libpopt-dev,
               alsa-base,
               libasound2-dev,
               libid3tag0-dev,
               libmad0-dev,
               libogg-dev,
               libvorbis-dev,
               libbz2-dev,
               libtar-dev (>= 1.2.11),
               libcurl3-dev (>= 7.12.3) | libcurl4-openssl-dev (>= 7.16.4),
               libboost-date-time-dev (>= 1.33.1),
               libgtk2.0-dev (>= 2.6.10),
               libgtkmm-2.4-dev (>= 1:2.6.5),
               libglademm-2.4-dev (>= 2.6.2),
               libxml++2.6-dev (>= 2.8.1),
               libicu34-dev | libicu36-dev | libicu-dev,
               apache2,
               php5-pgsql,
               libapache2-mod-php5,
               php-pear,
               php5-gd,
               postgresql-8.1 | postgresql-8.2 | postgresql-8.3 | postgresql (>= 8.1),
               postgresql-client-8.1 | postgresql-client-8.2 | postgresql-client-8.3 | postgresql-client (>= 8.1),
               libgstreamer0.10-dev (>= 0.10.17),
               libserial-dev (>= 0.5.2)
Standards-Version: 3.6.1

Package: campcaster-libs
Architecture: any
Depends: ${shlibs:Depends},
         libc6 (>= 2.3.4-1),
         libgcc1 (>= 1:4.0.2),
         libstdc++6 (>= 4.0.2-4),
         libglib2.0-0 (>= 2.9.3),
         libpopt0 (>= 1.7),
         libxml2 (>= 2.6.23),
         zlib1g (>= 1:1.2.1),
         libasound2 (>> 1.0.10),
         libid3tag0 (>= 0.15.1b)
Description: A radio program automation and support tool.
 Campcaster is the first free and open radio management software that 
 provides live studio broadcast capabilities as well as remote automation
 in one integrated system.
 .
 Major features of Campcaster: live, in-studio playout; web-based remote
 station management; automation; playlists; centralized archives of station
 program material; solid, fast playback using the Gstreamer multimedia
 framework; search-based backup; localization into several languages;
 innovative design by the Parsons School of Design; open, extensible
 architecture based on XML-RPC.
 .
 This package contains the libraries used by Campcaster.
 .
 Web site: http://campcaster.campware.org

Package: campcaster-station
Architecture: any
Depends: ${shlibs:Depends},
         campcaster-libs (= ${binary:Version}),
         sed,
         pwgen,
         unixodbc (>= 2.2),
         odbc-postgresql,
         libfontconfig1,
         libpng12-0,
         libjpeg62,
         libssl0.9.8,
         libxml2,
         libpopt0,
         libasound2,
         libid3tag0,
         libbz2-1.0,
         libtar (>= 1.2.11),
         curl,
         libcurl3,
         libboost-date-time1.33.1 | libboost-date-time1.34.1,
         libxml++2.6c2a (>= 2.8.1),
         libicu34 | libicu36 | libicu38,
         apache2,
         php5-pgsql,
         libapache2-mod-php5,
         php-pear,
         php5-gd,
         postgresql-8.1 | postgresql-8.2 | postgresql-8.3 | postgresql (>= 8.1),
         postgresql-client-8.1 | postgresql-client-8.2 | postgresql-client-8.3 | postgresql-client (>= 8.1),
         libgstreamer0.10-0 (>= 0.10.17),
         gstreamer0.10-plugins-good (>= 0.10.7),
         gstreamer0.10-plugins-ugly (>= 0.10.7)
Description: A radio program automation and support tool.
 Campcaster is the first free and open radio management software that 
 provides live studio broadcast capabilities as well as remote automation
 in one integrated system.
 .
 Major features of Campcaster: live, in-studio playout; web-based remote
 station management; automation; playlists; centralized archives of station
 program material; solid, fast playback using the Gstreamer multimedia
 framework; search-based backup; localization into several languages;
 innovative design by the Parsons School of Design; open, extensible
 architecture based on XML-RPC.
 .
 This package contains the server components of Campcaster:
 a storage server, a scheduler daemon, and a web interface.
 .
 Web site: http://campcaster.campware.org

Package: campcaster-studio
Architecture: any
Depends: ${shlibs:Depends},
         campcaster-libs (= ${binary:Version}),
         campcaster-station (= ${binary:Version}),
         sed,
         unixodbc (>= 2.2),
         odbc-postgresql,
         libfontconfig1,
         libpng12-0,
         libjpeg62,
         libssl0.9.8,
         libxml2,
         libpopt0,
         libasound2,
         libid3tag0,
         libmad0,
         libogg0,
         libvorbis0a,
         libbz2-1.0,
         libtar (>= 1.2.11),
         libcurl3 (>= 7.12.3),
         libboost-date-time1.33.1 | libboost-date-time1.34.1,
         libxml++2.6c2a (>= 2.8.1),
         libicu34 | libicu36 | libicu38,
         libgtk2.0-0 (>= 2.6.10),
         libgtkmm-2.4-1c2a (>= 1:2.6.5),
         libglademm-2.4-1c2a (>= 2.6.2),
         libserial0 (>= 0.5.2)
Description: A radio program automation and support tool.
 Campcaster is the first free and open radio management software that 
 provides live studio broadcast capabilities as well as remote automation
 in one integrated system.
 .
 Major features of Campcaster: live, in-studio playout; web-based remote
 station management; automation; playlists; centralized archives of station
 program material; solid, fast playback using the Gstreamer multimedia
 framework; search-based backup; localization into several languages;
 innovative design by the Parsons School of Design; open, extensible
 architecture based on XML-RPC.
 .
 This package contains the GUI client component of Campcaster.
 .
 Web site: http://campcaster.campware.org
